{% extends 'kast_base_templates/live_account_template.html' %}

{% load humanize %}

{% block custom_styles %}
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.2.3/css/fixedColumns.dataTables.min.css">
<style type="text/css">
        	
	.table-condensed>tbody>tr>td{
		font-family: 'GothamBold'!important;
		font-size: 13px!important;
	}

	.lightblue{
		color:#6eb0b1;
	}

	.lightgreen{
		color: #15ce67;
	}

	.red{
		color: #cf6162;
	}

	.blue{
		color: #41799b;
	}

	.list-group{
		box-shadow: none;
		margin-bottom: 0px;
	}

	.list-group .list-group-item{
		background: none;
	    border: 0px;
	    padding: 0px 10px 10px;
	    font-weight: 700;
	}

	.container{
		width: 1265px;
	}

	.list-group .list-group-item .badge{
		background: none;
	}

	.btn-bluegreen{
		background: #50a6b1;
		transition: none;
		color: #fff;
		text-shadow: none;
		outline: none!important;
	}

	.btn-bluegreen:hover, .btn-bluegreen:active, .btn-bluegreen:visited, .btn-bluegreen:focus{
		background: #50a6b1!important;
		color: #fff!important;
		opacity: 0.8;
	}

	.btn-bluegreen, .btn-blue{

		padding: .5em 5em;
	}

	.btn-blue{
		transition: none;
		background: #41799b;
		border: 0;
		color: #fff;
		text-shadow: none;
		outline: none!important;
	}

	.btn-blue:hover, .btn-blue:active, .btn-blue:visited, .btn-blue:focus{
		background: #41799b!important;
		color: #fff!important;
		opacity: 0.8;
	}

	.form-group{
		margin:0!important;
	}

	#modalFailed .panel-body{

		height: 27em;
	    overflow-x: hidden;
	    overflow-y: auto;
	}

	.actionBar{
		padding-right: 0;
		padding-left: 0;
	}

	.datatable thead tr th, .datatable tbody tr td{
		font-size: 14px;
	    color: #50759A;
	    font-family: "GothamBold";
	}

	.dataTables_scroll table {
	  margin: 0 auto;
	  width: 100%;
	  clear: both;
	  /*border-collapse: collapse;*/
	  table-layout: fixed;
	  word-wrap: break-word; }
	  .dataTables_scroll table th, .dataTables_scroll table td {
	    white-space: nowrap; }
	  .dataTables_scroll table thead tr th {
	    font-weight: 700;
	    border-bottom: 0!important;
	    background-color: #fff!important; }

	.dataTables_wrapper .custom-filters {
	  margin-bottom: 10px; }
	  .dataTables_wrapper .custom-filters .filter-container {
	    float: left;
	    margin-bottom: 0 !important;
	        width: 185px; }
	  .dataTables_wrapper .custom-filters .dataTables_filter {
	    text-align: left;
	    float: left;
	    /*margin-left: 20px;*/
	    margin-top: 20px;
	    color: #6a6c6f; }
	    .dataTables_wrapper .custom-filters .dataTables_filter .input-group-addon {
	      float: left;
	      padding-right: 20px;
	      background: #fff;
	      padding-bottom: 9px;
	      font-size: 15px; }
	      .dataTables_wrapper .custom-filters .dataTables_filter .input-group-addon .glyphicon {
	        top: 3px !important; }
	    .dataTables_wrapper .custom-filters .dataTables_filter .form-control {
	      margin-left: 0;
	      width: 205px;
	      box-shadow: none;
	      outline: none;
	      font-weight: 400; }

	      /*.DTFC_ScrollWrapper {
  height: 470px !important; }
*/
	      .dataTables_paginate {
  padding-top: 1em!important; }
  .dataTables_paginate .paginate_button {
    border-radius: 0 !important;
    margin-left: 0 !important;
    border: 1px solid #d9d9d9 !important;
    color: #337ab7 !important;
    background: #fff!important; }
    .dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button:hover {
      background: #62A6AE !important;
      color: #fff !important;
      border: 1px solid #62A6AE !important; }

    #dashboard-table_filter .form-control{
		margin-left: 0;
    	width: 205px;
    	box-shadow:none;
    	outline: none;
	}  

	.filter:focus{
		outline: none!important;
		box-shadow:none!important;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	#dashboard-table_filter .form-control:focus{
		outline: none!important;
		box-shadow:none!important;
		border: 1px solid #ccc;
		border-left: 0;
	}

	.dataTables_length {
	  float: right !important; }
	  .dataTables_length label {
	    color: #6a6c6f !important;
	    font-weight: 700 !important; }

	    .filter-label{
	    	color: #6a6c6f !important;
   	 		margin: 0!important;
	    }

	.btn-disabled{
		pointer-events: none;
	   	cursor: default;
	   	color: #BFBFBF;
	}

	.dataTables_wrapper .dataTables_processing{
		position: fixed;
	    top: 0!important;
	    margin-top: 0!important;
	    height: 100%!important;
	    z-index: 5;
	    background: none!important;
	}

	#loadercontainer{
		position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	}

	#customloader{
		height: 100%;
	    width: 100%;
	    background: #d9d9d9;
	    z-index: 5;
	    position: absolute;
	    opacity: 0.5;
	}

	#campaignloader{
		width: 100%;
	    height: 100%;
	    z-index: 10;
	    position: absolute;
	    padding-top: 25%;
	}

</style>
{% endblock %}    

{% block content %}
<div id="dashboard">
    <div class="container">
		<div class="row">
		    <h2 class="h2-kast text-center-xs col-sm-6">
			<img src="/static/images/ic-sms-broadcast2.png" alt="SMS Broadcast Icon" />
			<span style="font-size: 27px">SMS Broadcast Campaigns</span>
		    </h2>
		    <p class="text-center-xs text-right col-sm-6" style="padding-top: 1.75em">
			<a href="/broadcasts/live">
			    <button type="button" class="btn btn-kast-2">
			        <big class="fa fa-plus-circle kast-icn"></big> 
			        CREATE NEW CAMPAIGN
			    </button>
			</a>
		    </p>
		</div>
	    <table id="dashboard-table" class="table table-striped table-bordered table-hover datatable" cellspacing="0" width="100%">
		    <thead>
		        <tr>
		        	<th>ID</th>
		            <th style="width: 300px;">Campaign Name</th>
		            <th style="width: 110px;">Schedule</th>
		            <th style="width: 90px;">Date Created</th>
		            <th style="width: 70px;">On Queue</th>
		            <th>Forwarded</th>
		            <th>Sent</th>
		            <th>Failed</th>
		            <th>Base</th>
		            <th style="width: 100px;">Message Parts</th>
				    <th style="width: 110px;">Reference Code</th>
		            <th style="width: 130px;">&nbsp;</th>
		            <th>Message</th>
		            <th>Sender ID</th>
		            <th>Sender Name</th>
		            <th>Campaign UID</th>
		            <th>Is Draft</th>
		        </tr>
		    </thead>
		</table>
    </div>
</div>

<!-- SUMMARY MODAL -->
<div class="modal fade modal-summary" id="broadcast-summary" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
	    <div class="modal-body" style="padding:0px;">
	        <form method="post" action="sms-broadcast-successful-live.html">
		    <h1>
			<i class="fa fa-thumbs-up" aria-hidden="true"></i> 
			SUMMARY
		    </h1>
		    <div class="summary-wrapper">
			        <div class="panel panel-default">
			    <div class="panel-heading">
				<h3 class="panel-title">Campaign Name</h3>
			    </div>
		    	    <div class="panel-body">
				<p>
				    <span id="cname" style="font-weight:700;color: #333;" class="total_audience"></span>
				</p>
			    </div>
		        </div>
			<div class="panel panel-default">
			    <div class="panel-heading">
			        <h3 class="panel-title">Audience</h3>
			    </div>
			    <div class="panel-body">
			        <p>
				    <span id="caudience" style="font-weight:700;color: #333;" class="total_audience"></span>
				</p>
			    </div>
		        </div>
			<div class="panel panel-default">
			    <div class="panel-heading">
			        <h3 class="panel-title">Message</h3>
			    </div>
			    <div class="panel-body">
			        <p id="cmessage" class="message-body" style="font-weight:700;text-align: left;"></p>
			    </div>
			</div>
			<div class="panel panel-default">
			    <div class="panel-heading">
			       <h3 class="panel-title">Sender ID</h3>
			    </div>
			    <div class="panel-body">
			        <p>
				    <span id="csenderid" class="sender-id" style="color: #333;font-weight:700;"></span>
			        </p>
			    </div>
		        </div>
			<div class="panel panel-default">
			    <div class="panel-heading">
			        <h3 class="panel-title">Schedule</h3>
			    </div>
			    <div class="panel-body" style="text-align: left;font-weight:700;">
			        <p style="color: #333;">
			            Date: <span id="cdate" style="color: #333;"></span>
				</p>
			        <p style="color: #333;">
				    Time: <span id="ctime" style="color: #333;"></span>
			        </p>
			    </div>
			</div>
		        <div class="text-center">
			    <button class="btn btn-default btn-back btn-dashboard-back" data-dismiss="modal">BACK</button>
	
		        </div>

		    </div>
	   	</form>
	    </div>
        </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END MODAL -->

<!-- DELETE CAMPAIGN MODAL -->
<div class="modal fade modal-summary" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body summary-wrapper" style="padding:0px;">
                <h3>NOTICE</h3>
                <img src="/static/images/ic-warning-upload.png" class="img-responsive">
                <p class="text-center" style="padding-top: 20px;">
				    Are you sure you want to delete <strong id="modal-campaign-name"></strong>?
				</p>
				<div class="modal-footer">
					<form method="POST" action="/dashboard/" class="kast-form" id="delete-form">
				  	    <input type="hidden" class="form-control text-center" id="delete-request-type" name="request_type" value="delete_campaign" />
				  	    <input type="hidden" class="form-control text-center" id="delete-confirm" name="campaign_id" value="" />
					    <div class="row">
							<button type="button" class="btn btn-default btn-back" data-dismiss="modal" style="margin-right: 2em;">NO</button>
						    <input type="submit" class="btn btn-default btn-yes-delete" id="delete-yes" value="YES" />
						</div>
					</form>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- END DELETE CAMPAIGN MODAL -->

<!-- MODAL AFTER SUCCESSFUL DELETION -->
<div class="modal fade" id="successModalDashboard" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body summary-wrapper">
                <h3 style="color: #41799b;">SUCCESS</h3>
                <img src="/static/images/Success-check.png" class="img-responsive">
                <p style="padding:20px;">Campaign successfully deleted</p>
            </div>
            <div class="btns">
                <button class="btn btn-default btn-confirm" data-dismiss="modal">OK</button> 
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- END MODAL AFTER SUCCESSFUL DELETION -->

<!-- successfull resend broadcast -->
<div class="modal fade" id="successResendBroadcast" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body summary-wrapper">
                <h3 style="color: #41799b;">SUCCESS</h3>
                <img src="/static/images/Success-check.png" class="img-responsive">
                <p style="padding: 20px 0; margin-bottom: -10px;">Processing Request.</p>
                <p class="ref_code" style="margin-bottom: 20px;display: none;"></p>
            </div>
            <div class="btns">
                <button class="btn btn-default btn-confirm" data-dismiss="modal">OK</button> 
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- end:successfull resend broadcast -->

<!-- modal failed numbers -->
<div class="modal fade modal-summary text-center" id="modalFailed" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding: 0 0 2em;">
        	<form method="post" id="failed-form" class="form-inline" enctype="multipart/form-data">
        		{%csrf_token%}
        		<textarea name="contact_list" id="contact_list" style="display: none;"></textarea>
        		<textarea name="message" id="message" style="display: none;"></textarea>
        		<input type="hidden" name="broadcast_id" id="broadcast_id" class="broadcast_id">
        		<input type="hidden" name="sender_id" id="sender_id" class="sender_id">
        		<input type="hidden" name="schedule" id="schedule" class="schedule">
        		<input type="hidden" name="campaign_name" id="campaign_name" class="campaign_name">
        		<input type="hidden" name="campaign_id" id="campaign_id" class="campaign_id">
	            <div class="modal-body summary-wrapper">
	                <h3 style="font-size:2.5em;" class="blue"><i class="ion-android-warning red"></i> FAILED TO SEND</h3>
	                <div class="panel panel-default" style="padding: 0 2em;">
					    <div class="panel-heading">
					        <h3 class="panel-title">List of mobile numbers</h3>
					    </div>
					    <div class="panel-body" style="text-align: left;">
					        <ul class="list-failed">
	                		</ul>
					    </div>
					    <div class="row" style="margin-top: 20px;">
				    		<div class="form-group" style="width: 100%;">
				    			<label style="margin-right:10px;">Resend to?</label>
					    		<select style="width: 45%;padding: 8px 16px;line-height: 37px;height: 40px;" name="select_resend" id="select_resend" class="form-control input-lg">
					    			<option>All</option>
				    		</select>
				    		</div>
					    </div>
					</div>
	            </div>
	            <div class="alert alert-danger error-broadcast" role="alert" style="margin-left: 30px;margin-right: 30px;font-weight:700;display: none;"></div>
	            <div class="btns">
	                <button type="button" class="btn btn-default btn-bluegreen" data-dismiss="modal">NO</button>
					<button type="button" class="btn btn-default btn-blue btn-resend-failed" id="btn-resend">RESEND</button>
	            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{%block custom_scripts%}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.conditionalPaging.js"></script>
<!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="/static/js/dashboard.js"></script>
{% endblock %}