{% extends 'kast_base_templates/trial_account_template.html' %}

    {% block content %}
        <!-- content body start -->
        <div class="container-fluid main-wrapper" role="main">
            <div class="wrapper toggled">
                <!-- <div class="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li><a class="menu-my-campaigns" href="my-campaigns.html">My Campaigns</a></li>
                        <li><a class="menu-sms-bcast" href="sms-broadcast-live.html">SMS Broadcast</a></li>
                        <li><a class="menu-video-bcast" href="video-broadcast.html">Video Broadcast</a></li>
                        <li><a class="menu-sms-feedback" href="feedback-dashboard.html">SMS Feedback</a></li>
                        <li><a class="menu-sms-promo" href="promos.html">SMS Promo</a></li>
                        <li><a class="menu-load-transfer" href="javascript:void(0)">SMS Load Transfer</a></li>
                        <li><a class="menu-sms-community" href="community.html">SMS Community</a></li>
                    </ul>
                </div>
                <a href="#menu-toggler" class="btn btn-toggler" id="menu-toggler">||</a> -->
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div id="broadcast-result" style="display: None;">
                            <h3 class="kast-text text-center">Thanks for trying out KAST!</h3>
                            <br>
                            <div class="text-center">
                                <img src="/static/images/ic-rocket.png" alt="Rocket" class="img-responsive" style="width: 12em;" />
                                <br>
                                <h2 class="kast-text text-center">Experience KAST's full features!</h2>
                                <br>
                                <div class="text-center">
                                <ul class="kast-bullets" style="font-size: 16px;">
                                    <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok"></span>&nbsp;Customized sender names</li>
                                    <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok"></span>&nbsp;Contact base management</li>
                                    <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok"></span>&nbsp;Message Templates</li>
                                </ul>
                                </div>
                                <br>
                                <a href="/register" class="btn btn-kast-2">
                                GO LIVE
                                </a>
                            </div>
                        </div>
                    </div><!-- content -->
                        </div>
                        <div ng-controller="Ctrl" id="broadcast-controller">
                            <h3 class="promo-text">Experience this ONE-TIME free trial</h3>
                            <form id="broadcast-container" class="broadcast-container free-trial" style="display:none;"  wizard step-changing="stepChanging" body-tag="section">
                                <h1><strong>Set your contacts</strong></h1>
                                <section class="step1">
                                    <div class="col-md-12">
                                        <h4 class="contact-header">Enter contact number</h4>
                                        <div class="col-md-6 col-md-offset-3 contact-container">
                                            <div class="input-group add-contact-input">
                                              <input type="text" class="form-control" ng-model="model.contact_number" name="contact_number" id="contact_number" placeholder="Formats: 639xxxxxxxx or 09xxxxxxxxx">
                                              <span class="input-group-btn">
                                                <button class="btn btn-primary btn-add-contact" type="button">ADD</button>
                                              </span>
                                            </div><!-- /input-group -->
                                            <div class="contact-group-error"></div>
                                            <div class="added-numbers"> <!-- add "disabled" class if there's no number added -->
                                                <p class="no-contacts">No contacts yet.</p>
                                                <ul class="list-group with-contacts" style="display:none;"></ul>
                                                <div class="total-contacts col-md-12">
                                                    <span class="total-counter">Total contacts: <span class="counter">0</span></span>
                                                </div>
                                            </div>
                                            <p class="go-live-wrapper">Send a broadcast to more than 5 contacts!<a href="#" class="btn btn-link" data-toggle="modal" data-target="#go-live">GO LIVE NOW</a></p>
                                        </div>
                                    </div>
                                </section>
                                <h1><strong>Write your message</strong></h1>
                                <section class="step2">
                                    <div class="col-md-9 col-md-offset-2">
                                        <div class="col-md-6 content-left">
                                            <div class="step2-container" style="width:100%;">
                                                <div class="sender-id-wrapper disabled" style="width:100%;">
                                                    <h4>Sender ID</h4>
                                                    <div class="form-group" style="width: 100%;">
                                                        <select class="form-control" disabled style="width:100%;">
                                                            <option value="KAST">KAST</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="message-wrapper">
                                                    <h4>Message</h4>
                                                    <div class="form-group" style="width:100%;">
                                                        <div class="textarea-wrapper" style="width:100%;">
                                                            <textarea class="form-control textarea" maxlength="160" accept-charset="utf-8"  rows="5" name="broadcast_message" id="broadcast_message"></textarea>
                                                        </div>
                                                        <span class="helper-block message-character-count" style="float: right;width: 100%;text-align: right;"><small><span id="characterLeft">160</span>/<span id="charCounter">0</span></small></span>
                                                    </div>
                                                </div>
                                                <p class="go-live-wrapper" style="text-align: center;margin-top:-15px;">Send a broadcast beyond the 160-character limit!<a href="#" class="btn btn-link"  data-toggle="modal" data-target="#go-live">GO LIVE NOW</a></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 content-right">
                                            <!-- <div class="message-container">
                                                <div class="message-text">
                                                    <p class="message-sender-id">KAST</p>
                                                    <div class="sms-text">
                                                        <p>
                                                            <span></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="message-container">
                                                <div class="broadcast-live">
                                                    <p class="message-sender-id">KAST</p>
                                                    <div class="sms-text">
                                                        <p>
                                                            <span></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h1><strong>Schedule your broadcast</strong></h1>
                                <section class="step3">
                                </section>
                            </form>
                            <!-- modal broadcast summary -->
                            <div class="modal fade modal-summary" id="broadcast-summary" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" style="padding:0px;">
                                            <form method="post" action="">
                                                <input type="hidden" name="form_contact_group" />
                                                <input type="hidden" name="form_sender_id" value="KAST" />
                                                <textarea style="display:none;" name="form_broadcast_message"></textarea>
                                                <h1><i class="fa fa-thumbs-up" aria-hidden="true"></i> SUMMARY</h1>
                                                <div class="summary-wrapper">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Audience</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p>
                                                                <span style="font-weight:700;color: #333;" class="total_audience"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Message</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p class="message-body" style="font-weight:700;"></p>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Sender ID</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p>
                                                                <strong><span class="sender-id" style="color: #333;">KAST</span></strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <p class="error-text error-broadcast" style="color: #8a1f11;font-weight: 700;text-align: center;"></p>
                                                    <p style="text-align: center;margin-bottom: 15px;"><strong><span style="color:red;">*</span>Send now works from 8:00am - 6:00pm</strong></p>
                                                    <div class="btns">
                                                        <button class="btn btn-default btn-back" data-dismiss="modal">BACK</button>
                                                        <button class="btn btn-default btn-confirm btn-submit-broadcast" type="button" data-trial="false">CONFIRM</button>
                                                        <span id="loading" style="float: left;width: 100%;margin-top: 10px;text-align: center;color: #003D61;font-weight: 700;display: none;">Submitting<br>
                                                        <img src="/static/images/ajax-loader.gif">
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                            <!-- modal broadcast summary end -->
                            <!-- modal upgrade live -->
                            <div class="modal fade modal-summary" id="go-live" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body summary-wrapper" style="padding:0px;">
                                            <h3>YOU'RE ABOUT TO GO LIVE</h3>
                                            <img src="/static/images/free-trial-icon.png" class="img-responsive">
                                            <p>You're now about to enjoy the benefits of a KAST (Basic or Pro) Account when this free trial ends.</p>
                                            <div class="btns">
                                                <button class="btn btn-default btn-back" data-dismiss="modal">FINISH TRIAL</button>
                                                <button class="btn btn-default btn-live" type="button" onclick='window.location = "/register";'>GO LIVE NOW</button>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                            <!-- modal upgrade live end -->
                        </div><!-- content -->
                    </div><!-- container-fluid -->
                </div><!-- page-content-wrapper -->
            </div><!-- wrapper -->
        </div><!-- content body end -->
    {% endblock %}
        {% block custom_scripts%}
            <script type="text/javascript" src="/static/js/broadcast-trial-script.js"></script>
        {% endblock%}
