@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Book.ttf'), url('../fonts/Gotham/Gotham-Book 2.ttf'), url('../fonts/Gotham/GothamRounded-Book.otf');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/Gotham/Gotham-Bold 2.ttf'), url('../fonts/Gotham/Gotham-Bold.ttf');
    font-weight: bold;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nopaddingLR{
	padding-left: 0;
	padding-right: 0;
}

.nopaddingL{
	padding-left: 0;
}

.nopaddingR{
	padding-right: 0;
}

.form-horizontal{

	.control-label{
		text-align: left!important;
	}
}

.h-155{
	min-height: 155px;
}

.h-260{
	min-height: 260px;
}

.progress-bar-info{

	border-right: 0!important;
}

.progress-bar{

	padding-right: 0!important;
}

.dataTables_scroll{

	table{

		margin: 0 auto;
		width: 100%;
		clear: both;
		/*border-collapse: collapse;*/
		table-layout: fixed; 
		word-wrap:break-word; 

		th, td { white-space: nowrap; }

		thead{

			tr{

				th{
					font-weight: 700;
					text-align: center;
				}
			}
		}
	}
}

.dataTables_length{

	float: right!important;
	
	label{
		color: #6a6c6f!important;
		font-weight: 700!important;
	}
}

label.error, label span.error{
	font-weight: 700!important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-bottom: 0;
}

.dataTables_paginate{

	/*padding-top: 1em!important;*/

	.paginate_button{

		border-radius: 0!important;
		margin-left: 0!important;
		border: 1px solid #d9d9d9 !important;
		color: #337ab7!important;

		&.current, &:hover{

			background: #62A6AE !important;
    		color: #fff!important;
    		border: 1px solid #62A6AE !important;
		}
	}
}

.bottom-filters{

	.dataTables_info{
		color: #6a6c6f!important;
	}
}

.DTFC_ScrollWrapper{
	height: 470px!important;
}

.dataTables_wrapper{

	.custom-filters{

		margin-bottom: 10px;

		.filter-container{

			float: left;
			margin-bottom: 0!important;

			.filter{


			}
		}

		.dataTables_filter{

			text-align: left;
			float: left;
			margin-left: 20px;
			/*margin-top: 23px;*/
			color: #6a6c6f;

			.input-group-addon{
				float: left;
			    padding-right: 20px;
			    background: #fff;
			    padding-bottom: 9px;
			    font-size: 15px;

			    .glyphicon{
					top: 3px!important;
				}
			}

			.form-control{
				margin-left: 0;
		    	border-left: 0;
		    	width: 205px;
		    	box-shadow:none;
		    	outline: none;
		    	font-weight: 400;
			}
		}
	}
}

#modalFailed{

	.list-group{
		box-shadow: none;
		margin-bottom: 0px;
	}

	.list-group .list-group-item{
		background: none;
	    border: 0px;
	    padding: 0px 10px 10px;
	    font-weight: 700;
	}

	table{

		tbody{

			tr{

				border-top: 1px solid #d9d9d9;
    			border-bottom: 1px solid #d9d9d9;

    			&:nth-child(odd) {background: #f9f9f9}

				td{

					border: 0!important;
					padding: 10px;
				}
			}
		}
	}

	.list-numbers{
		margin-top: 10px;
	    height: 25em;
	    overflow: hidden;
	    overflow-y: auto;
	    margin-bottom: 20px;
	}

	.resend-container{
		background: #e04e4e!important;
		border: 1px solid #e04e4e!important;
		padding: 2em;
		color: #fff;
		font-size: 15px;
		margin-bottom: 0;
	}
}

body{

	font-family: 'Gotham'!important;
}

*:focus, *.active, *:visited {
    outline: none!important;
}

.checkbox input[type="checkbox"]:focus + label::before{
	outline: none!important;
}

footer{

	.footer-small{
		float: left;
	    margin-top: 6px;
	    margin-right: 5px;
	    font-size: 66%;

	}

	.footer-link{
		padding-left: 0;

		li{
			list-style-type: none;
			list-style: none;
			margin-right: 20px;
			float: left;

			a{
				color: #333;
				font-weight: 700;
				text-shadow: none!important;

				&:hover{
					color: #53a7b1;
				}
			}
		}
	}
}

.dotted-divider{
	width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;

	hr{
		margin-top: 5px;
    	margin-bottom: 5px;
	}

}

.btn-disabled{
	pointer-events: none;
   	cursor: default;
   	color: #BFBFBF;
}

.modal{

	.modal-content{

		.modal-header{
			padding: 30px 30px;

			.modal-title{
				font-size: 20px;
			}
		}

		.modal-body{

			.boxes{

				margin: 10px 0;

				&:first-child{

					i{
						color: #4884de;
					}
				}

				&:nth-child(2){

					i{
						color: #fccc00;
					}
				}

				&:nth-child(3){

					padding-top: 15px;

					i{
						color: #36e236;
						font-size: 50px;
					}

					p{
						margin-top: 5px;
					}
				}

				&:nth-child(4){

					i{
						color: #4883dd;
					}
				}

				&:nth-child(5){

					i{
						color: #ec391d;
					}
				}

				i{
					font-size: 55px;
				}

				p{
					 margin-top: -10px;
				}
			}
		}
	}
}

.small-header{

	.panel-body{
		padding: 10px 25px;

		h2{
			margin-top: 10px;
			text-transform: capitalize;
			font-size: 16px;
		}
	}
}

.top{
	margin-bottom: 10px;
}

.btn-gray{
	background: #fff!important;
	border: 1px solid #d9d9d9;
	color: #6a6c6f!important;

	&:hover{
		color: #34495e!important;
	}
}

.btn-primary{
	color: #fff!important;
}

.btn-xs{
	padding: 5px 10px;
}

.logo{
	padding: 10px 10px!important;

	&.small-logo{
		img{
			margin-left: 0!important;
		}
	}

	img{
		width: 45%;
		margin-left: 3em;
	}
}

.hpanel{

    margin-bottom: 20px;

	/*.panel-heading{
		padding: 5px 4px 10px !important;
	}*/
}

.hpanel-bottom{
	margin-bottom: 0!important;
}

.color-line{
	background: #53a7b1!important;
}

#header{

	.navbar-nav{

		margin-top: 5px;

		li{
			height: auto;

			a{
				font-size: 13px;
				height: auto!important;

				.label-success{

					margin-top: -5px;
				    float: right;
				    padding-top: 0.5em;
				}

				i{
					font-size: 18px;
				    float: left;
				    margin-right: 5px;
				    margin-top: -1px;
				}
			}
		}
	}
}

.green-circle{

	&.plus-icon{

		i{
			padding: .3em .5em .2em!important;
			font-size: 6em!important;
		}
	}

	i{
		font-size: 6em;
		border: 1px solid #36e236;
	    background: #36e236;
	    padding: .3em .4em;
	    border-radius: 50%;
	    color: #fff;
	}

	&.checkmark{
		
		i{
			font-size: 5em;
		}    	
	}
}

.padding-top-6{

	padding: 6em 0;
}

#wrapper{

	background: transparent url(../images/dashboard-bg.png);
    background-size: cover;

    .content{
    	padding: 20px 20px 40px;

    	.users-management{

    	}

    	.dashboard{

    		.icons{

    			font-size: 3.7em;
    		}

    		h1, h2, h3, h4{
    			margin-bottom: 0;
    			margin-top: 0;

    			&.title{
    				font-weight: 400;
    				font-size: 2.5em;
    			}

    			&.subtitle{
    				color: #36e236;
    				font-family: "GothamBold";
    				font-size: 1.5em;
    			}
    		}

    		.two-way-traffic{

    			.left{
					width: 27.333333%;
				}

				.right{
					form{
						margin-top: -3px;
					}
				}
    		}
    	}

    	.user-form-container{

    		.panel-group{

    			.panel-heading{

    				background-image: none!important;
    				cursor: pointer;
    			}

    			.panel-body{

    				border-top: 0!important;
    				background-color: #f7f9fa!important;
    			}
    		}
    	}
    }
}