strong {
    font-family: 'GothamBold';
}

.profile-input {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #CCC;
}

.profile-input:active,
.profile-input:focus {
    outline: none;
    border: 1px solid #4fa7b1;
}

#registration-form .profile-label {
    padding: 1% 0;
    margin: 0; 
}

.img-account {
    max-width: 240px;
    margin: 0 auto;
    display: block;
}

.profile-form .form-group {
    padding-bottom: 10px;
    border-bottom: 1px solid #BCBCBC;
}

.h2-kast {
    margin: 2em 0 1em !important;
}

.passwords {
    display: none;
}

.profile-label {
    padding: 0 0 0 1em !important;
}

.processing-message {
    padding: 1.25em 0;
    font: 1.25em 'GothamBold';
    color: white;
    background-color: red;
}

.registration-link {
    text-transform: uppercase;
}

#registration-form .profile-label {
    height: 36px;
}

.link-disabled,
.link-disabled:focus,
.link-disabled:hover {
    color: #AAA;
    cursor: not-allowed;
}

.btn.link-disabled {
    color: #DDD;
    cursor: not-allowed;
    background: #BBB;
}
