#broadcast-controller h4 {
    font-family: 'GothamBold';
}

#broadcast-controller h2 {
    font-family: 'GothamBold';
    color: #41799c;
    text-transform: uppercase;
}

.added-numbers {
    opacity: 0.5;
}

#contact-group-name-container {
    margin: 0 !important;
    padding: 0 15px;
}

#upload-action {
    margin-top: 0.5em;
}

.divider {
    margin: 1em -1em; 
    font-family: 'GothamBold';
}

.contacts-holder .content .contacts-container button,
.kast-btn-contacts {
    font-family: 'GothamBold';
    text-shadow: none;
    transition: all ease 0.5s;
    max-width: 200px;
    display: inline-block;
    text-transform: uppercase;
    font-style: normal;

    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}

.btn.kast-btn-contacts {
    color: white;
    background: #50a7b2;
    border: 1px solid #50a7b2;
    padding: 1em 1.50em;
}

#contact-placeholder {
    margin: 2.5em auto;
    color: #4fa7b1;
    font-family: 'Gotham';
}

.kast-btn-contacts:focus,
.kast-btn-contacts:hover {
    background: #41799b;
    border: 1px solid #41799b;
}

#upload-file-label:focus {
    outline: none;
}

.file-label {
    display: block;
    margin: 0.75em 0 0;
    color: #565656;
}
