#contact-form textarea {
    resize: none;
    height: 90px;
}

#contact-form textarea,
#contact-form input:not([type='submit']) {
    color: #40848C;
}

#contact-details {
    padding: 2.5em 0;
}

#details dt,
#details dt a,
#details dt a:focus,
#details dt a:hover,
#details dt a:active {
    font-size: 15px;
    letter-spacing: -0.5px;
    color: #676767;
    line-height: 240%;
    font-family: 'Gotham';
}

#details dt a:focus,
#details dt a:hover,
#details dt a:active {
    text-decoration: underline;
}

#details .fa {
    font-size: 150%;
    color: #EEE;
    background: #40848C;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 160%;

    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

#contact-banner {
    padding: 4em 0;
    background: transparent url('/static/images/bg-contact-us.jpg');
    background-position: 60% 12%;
}

#banner-header {
    color: #EEE;
    letter-spacing: -3px;
    text-transform: uppercase;
    font: 6em 'Gotham';
}

#banner-text {
    color: #DDD;
    font: 1.5em 'Gotham';
}

#contact-feedback {
    max-width: 120px;
    display: inline-block;
    margin-left: 1em;
}

#megaphone-cont img {
    max-width: 240px;
}

#map-container {
    width: 100%;
    min-height: 25em;
    /*margin-bottom: 7em;*/
    background: transparent url('/static/images/img-map.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
