[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */ }

div[contenteditable=true] {
  border: 1px dashed #AAA;
  width: 290px;
  padding: 5px; }

.tooltip.right {
  margin-left: 0px;
  padding: 0 5px;
  margin-top: 45px; }

.tooltip-inner {
  /*background-color: #f1eeee;*/
  color: #333;
  font-weight: 700;
  font-size: 10px;
  border: 0;
  border-radius: 0;
  width: 130px;
  background: url("../../images/warning-popup.png") no-repeat;
  background-size: 100% 100%; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -10px;
  border-width: 0;
  border-right-color: #f1eeee; }

.timepick::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #ecf4f6; }
.timepick::-webkit-scrollbar {
  width: 10px;
  background-color: #ecf4f6; }
.timepick::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #67afb8; }
.timepick .ui-timepicker-list li {
  text-align: center;
  color: #4fa6b1;
  font-weight: 700;
  padding: 5px; }
  .timepick .ui-timepicker-list li.ui-timepicker-disabled:hover, .timepick .ui-timepicker-list li.ui-timepicker-disabled {
    background: #e8e7e7;
    display: none; }

/*# sourceMappingURL=custom_stylesheet.css.map */
