#dashboard {
    padding-bottom: 6em;
}

.jumbotron-placeholder {
    padding: 3em 0;
}

.placeholder-img {
    max-width: 300px;
    display: block;
    margin: 0 auto 1em;
}

footer {
    z-index: 10;
    /*position: fixed !important;*/
}

.btn-dashboard {
    font-size: 15px !important;
    padding: 1px 6px !important;
}

.big-fa {
    font-size: 200px;
    color: #50759A;
}

.dashboard-notice {
    margin: 0 0 2em;
}

.h2-kast {
}

th[data-column-id='summary'] .text {
    color: transparent;
}

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    display: none;
}

.actionBar {
    text-align: left !important;
}

.bootgrid-header .search {
    width: 24%;
    min-width: 270px;
}

.btn-group {
    float: right;
    vertical-align: top !important;
}

.form-group {
    display: inline-block;
    margin: 0 20px 20px 0 !important;
    vertical-align: bottom !important;
}

.filter {
    min-width: 180px;
    width: 85% !important;
}

.filter-label,
.items-per-page-label {
    float: left;
    color: #999;
    margin: 8px 5px 0 0;
}

.kast-icn {
    font-size: 1.75em;
    display: inline-block;
    padding-right: 0.25em;
    vertical-align: middle;
}

.btn-group>.btn-group {
    float: none !important;
}

.bootgrid-table th > .column-header-anchor {
    font-size: 18px;
    color: #50759A;
    letter-spacing: -1.25px;
}

.table-condensed>tbody>tr>td {
    color: #62A6AE;
}

.kast-ic {
    max-width: 260px;
}

.table-condensed>tbody>tr>td:nth-child(3),
.table-condensed>tbody>tr>td:nth-child(4),
.table-condensed>tbody>tr>td:nth-child(6),
.table>thead:first-child>tr:first-child>th:nth-child(3),
.table>thead:first-child>tr:first-child>th:nth-child(4),
.table>thead:first-child>tr:first-child>th:nth-child(6) {
    text-align: center;
}


.table-condensed>tbody>tr>td:nth-child(4) {
    font-family: 'GothamBold';
}

.status-green {
    color: #393 !important;
}

.status-black {
    color: #333 !important;
}

.bootgrid-table th > .column-header-anchor > .icon {
    font-size: 70% !important;
    top: 6px !important;
}

select.form-control option {
    font-family: 'GothamBold';
    padding: 5px;
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.datepicker-inline {
    display: none !important;
}

.modal-summary div.summary-wrapper .panel .panel-body {
    border-left: 1px solid #DEDEDE !important;
    border-right: 1px solid #DEDEDE !important;
    border-bottom: 1px solid #DEDEDE !important;
    background: #EFEFEF !important;

    border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px; 
    -ms-border-radius: 0 0 15px 15px; 
    -moz-border-radius: 0 0 15px 15px; 
    -webkit-border-radius: 0 0 15px 15px; 
}

#grid-data.table-condensed>tbody>tr>td:nth-child(5) {
    text-align: right;
    padding-right: 2em;
}

.btn-disabled,
.btn-disabled:focus,
.btn-disabled:hover {
    cursor: not-allowed;
    color: #BFBFBF;
}

#grid-data tr,
#grid-data th,
#grid-data td {
    transition: ease 0.5s all;
    -o-transition: ease 0.5s all;
    -ms-transition: ease 0.5s all;
    -moz-transition: ease 0.5s all;
    -webkit-transition: ease 0.5s all;
} 

.table-hover>tbody>tr:hover {
    background: #62A6AE;
}

.table-hover>tbody>tr:hover td,
.table-hover>tbody>tr:hover td>a:not(.btn-disabled) {
    color: #FFF;
}

.table-hover>tbody>tr td>a:not(.btn-disabled):hover .fa,
.table-hover>tbody>tr td>a:not(.btn-disabled):focus .fa {
    transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
}

.bootgrid-table th:hover {
    background: #FFF;
    text-shadow: 1px 1px 1px #CCC;
}

#modal-campaign-name {
    color: #50759A;
    font-family: 'GothamBold';
}

strong {
    font-weight: normal;
    font-family: 'GothamBold';
}

.pagination>li>a,
.pagination>li>span,
.input-group-addon:first-child {
    color: #62A6AE;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    color: white;
    background-color: #62A6AE !important;
    border-color: #51959D !important;
}

tr > .no-results,
tr:hover > .no-results, 
tr > .no-results:hover {
    color: #62A6AE; 
}
