.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 250px;
}

.sidebar-wrapper {
    z-index: 0;
    position: absolute;
    left: 250px;
    width: 0;
    height: 88%;
    margin-left: -250px;
    overflow-y: auto;
    background: #6eafb1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .sidebar-wrapper {
    width: 250px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.page-content-wrapper .container-fluid {
  padding: 20px 0 0 0;
}

.wrapper.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
        display: flex;
        align-items: center;
        padding-left: 35px;
        font-size: 18px;
    display: block;
    text-decoration: none;
    color: #fff;
    height: 65px;
    line-height: 60px;
    background-size: 30px auto;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #6eafb1;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.menu-my-campaigns {
  background: url('../../images/ic-my-campaigns1.png') 10px center no-repeat;
}

.menu-sms-bcast {
  background: url('../../images/ic-sms-broadcast1.png') 10px center no-repeat;
}

.menu-video-bcast {
  background: url('../../images/ic-video-broadcast1.png') 10px center no-repeat;
}

.menu-sms-feedback {
  background: url('../../images/ic-sms-feedback1.png') 10px center no-repeat;
}

.menu-sms-promo {
  background: url('../../images/ic-sms-promo1.png') 10px center no-repeat;
}

.menu-load-transfer {
  background: url('../../images/ic-load-transfer1.png') 10px center no-repeat;
}

.menu-sms-community {
  background: url('../../images/ic-sms-community1.png') 10px center no-repeat;
}

.menu-my-campaigns:hover {
  background: url('../../images/ic-my-campaigns2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-sms-bcast, .menu-sms-bcast:hover {
  background: url('../../images/ic-sms-broadcast2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-video-bcast, .menu-video-bcast:hover {
  background: url('../../images/ic-video-broadcast2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-sms-feedback, .menu-sms-feedback:hover {
  background: url('../../images/ic-sms-feedback2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-sms-promo, .menu-sms-promo:hover {
  background: url('../../images/ic-sms-promo2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-load-transfer, .menu-load-transfer:hover {
  background: url('../../images/ic-load-transfer2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.ic-sms-community, .menu-sms-community:hover {
  background: url('../../images/ic-sms-community2.png') #f2f0f1 left center no-repeat;
  background-size: 30px auto;
}

.menu-my-campaigns:hover, .menu-sms-bcast:hover, .menu-video-bcast:hover, .menu-sms-feedback:hover, .menu-sms-promo:hover, .menu-load-transfer:hover, .menu-sms-community:hover {
  background-position: 10px center !important;
}

#menu-toggler {
  z-index: 10;
  position: absolute;
  top: 50%;
  margin-left: 5px;
  transform:scale(2,3); /* W3C */
  -webkit-transform:scale(2,3); /* Safari and Chrome */
  -moz-transform:scale(2,3); /* Firefox */
  -ms-transform:scale(2,3); /* IE 9 */
  -o-transform:scale(2,3); /* Opera */
}

.btn-toggler {
    background: #6eafb1;
    padding: 2px !important;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: 250px;
    }

    .wrapper.toggled {
        padding-left: 0;
    }

    .sidebar-wrapper {
        width: 250px;
    }

    .wrapper.toggled .sidebar-wrapper {
        width: 0;
    }

    .page-content-wrapper {
        padding: 20px 0;
        position: relative;
    }

    .wrapper.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
