.first-parallax {
	background: transparent url('../../images/dashboard-bg.png') no-repeat bottom center;
}

#faqs {
    padding-bottom: 3em;
}

#faqs ul {
    padding-left: 2em;
}

#faqs .h2-kast {
    position: relative;
}

#search {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#search-field {
    font-family: 'Gotham';
    min-width: 270px;
    text-align: center;
}

#search .btn {
    margin-left: -15.2%;
    border: none;
    border-radius: 0 5px 5px 0;
}

#faqs ul li a {
    display: block;
    border-top: 1px solid #D5D5D5 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    padding: 5px;
    color: #454545;
    background: transparent !important
}

#faqs ul li a:focus,
#faqs ul li a.ui-accordion-header-active {
    outline: none;
    background: rgba(100, 100, 100, 0.25) !important;
}

.ui-widget-content,
#faqs ul > li > ul > li:first-child > a, 
#faqs ul > li > ul > li > ul > li:first-child > a {
    border: none !important;
}

.ui-widget-content {
    background: transparent !important; 
}

footer {
    position: relative;
}

#faq-footer-link {
    position: absolute;
    top: -2.3em;
    right: 5%;
    border: none;
    z-index: 1;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #898989;
    background: #98C9CD;
    border-radius: 5px 5px 0 0 !important;
}


#faq-footer-link:focus,
#faq-footer-link:hover {
    background: #76A7AB;
}
