@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/Gotham/Gotham-Bold 2.ttf'), url('../fonts/Gotham/Gotham-Bold.ttf');
    font-weight: bold;
}

.nav:not(#sender-id-nav) li:not(.active) a:focus,
.nav:not(#sender-id-nav) li:not(.active) a:hover {
    /*color: #337ab7 !important;
    transition: all 0.75s ease;
    font-family: 'GothamBold';*/
}

#sender-id-nav li:focus a,
#sender-id-nav li:hover a {
    background: #337ab7;
    color: white;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.nav:not(#sender-id-nav) li a:active,
.nav:not(#sender-id-nav) li.active a {
    color: white;
}

.dropdown-menu {
    background: white;
    padding: 0.75em 0;
}

.dropdown-menu > li {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0 !important;
}

.dropdown-menu > li > a {
    padding-top: 0 !important;
}

