.pricing-container{
    height: 33em;
    margin-bottom: 3%;
    margin-top: 1%;
}

.pricing-container .head{
	color: #41799b;
	text-align: center;
}

.pricing-container .left .circle {
	width: 8em;
	height: 200px;
	border-radius: 50%;
	font-size: 2em;
	color: #fff;
	position: relative;
	background: #2095d7;
    margin-left: 15%;
}

.pricing-container .left .circle span{

	position: absolute;
    top: 34%;
    left: 3%;
    text-align: center;
    font-family: 'Gotham';
    line-height: 30px;
}

.pricing-container .right ul{
	list-style: none;
	margin-top: 4%;
}

.pricing-container .right ul li{
	margin-bottom: 5px;
	font-size: 18px;
}

.pricing-container .right ul li:before {
  content:'\2713';
  font-family: 'GothamBold';
  color: green;
  font-size: 1.5em;
}

.btn-reg{

	background: #4fa7b1;
    border: 1px solid #4fa7b1;
    padding: .5em 2.5em;
    font-size: 18px;
    font-family: 'GothamBold';
}

.btn-reg:hover{

	opacity: 0.8;
	background: #4fa7b1;
    border: 1px solid #4fa7b1;
}