@import '_global_mixin.scss';

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Book.ttf'), url('../fonts/Gotham/Gotham-Book 2.ttf'), url('../fonts/Gotham/GothamRounded-Book.otf');
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.wrapper{
	padding-top: 1%;
}

.page-content-wrapper{
	padding: 5px 0!important;
}

.main-wrapper{
	margin-bottom: 9%;
}

.nopaddingLR{
	padding-left: 0px;
	padding-right: 0px;
}

.paddingL{

	padding-left: 15px;
}

.paddingR{

	padding-right: 15px;
}

.nopaddingL{

	padding-left: 0px;
}

.nopaddingR{

	padding-right: 0px;
}

#countdown{
	width: 140px;
	text-align: center;
}

#loading-text{
	text-align: left!important;
	font-size: 20px;
}

.error-text{
	color: #8a1f11!important;
	font-weight: 700!important;
	font-size: 14px!important;
}

.promo-text{

	font-size: 22px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #41799c;
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

body{
	padding: 0;
    margin: 0;
    height:100%;
	background: url('../images/dashboard-bg.png') top right no-repeat; 
	background-attachment:fixed;
	background-size: 100% 100%;
	font-family: 'Gotham';
}

footer { 
	background-color:#0c1a1e;
	background-image: url('../images/footer-effect.png'); 
	width:100%;
	height:65px;
	position:absolute;
	bottom:0;
	left:0;
	background-size: 100% 100%;
	z-index: 3;

	.container{

		img.footer-guest{
			width: 7em;
	    	margin: 1.4em 0 0 37em;
		}

		.footer-content{

			margin-left:42.333333%;
		}
	}
}

footer.footer-live{

	background-image: url('../images/footer-effect-live.png'); 

	.container{

		padding-left: 5em;
		padding-right: 5em;
		height: 100%;
		width: 100%;

		.footer-left{

			padding-left: 0px;
			padding-top: 1.8em;

			#footer-bar { 
				width: 100%; 
				margin: 0 auto;
			}
			#footer-bar > nav { 
				width: 100%; 
				overflow: hidden; 
				margin: 0px auto;
			}
			#footer-bar > nav > ul {
				list-style-type: none; 
				margin: 0; 
				padding: 0;
				float:left;
				width: 100%;
			}
			#footer-bar > nav > ul > li {
				display: inline;
				list-style-type: none;
				color: #fff;
				margin-right: 2%;
				font-family: 'Gotham';
			}
			#footer-bar > nav > ul > li > a { 
				color: #fff;    
	    		font-size: 15px;
	    		font-family: 'Gotham';
	    		font-weight: 700; }
	    	#footer-bar > nav > ul > li > a:hover{text-decoration: underline;}
		}

		.footer-right{

			padding-top: 1.5em;
			text-align: right;

			img{
				width: 6em!important;
		    	/*margin: 1em 43% !important;*/
			}
		}
	}
}

div.btn-save-campaign-draft{

	position: absolute;
	right: 0;
	z-index: 3;
	margin: 1% 3%;

	button{

		background: #41799b;
	    border: 0;
	    color: #fff;
	    text-shadow: none;
	    margin-top: 10px;

	    &:hover, &:active, &:focus{
	    	background: #41799b;
	    	opacity: .8;
	    	color: #fff;
	    }
	}
}

.remove-schedule{

	background: #41799b;
    border: 0;
    color: #fff;
    text-shadow: none;
    margin-top: 10px;
    outline: none;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #67afb8;
    border-radius: 5px;
    cursor: pointer;

    &:hover, &:active, &:focus{
    	background: #41799b;
    	opacity: .8;
    	color: #fff;
    }
}

.btn-homepage-header{

    background: #4fa7b1!important;
    color: #fff!important;
    border: 1px solid #4fa7b1!important;

	&:hover{

		color:#fff!important;
		border: 1px solid #4fa7b1!important;
		opacity: 0.8;
	}

	&.login{
		padding: 5px 30px!important;
		margin-right: 5px;
	}

	&.register{
		padding: 5px 20px!important;
	}
}
 
.header{
	
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 3px solid #53a7b1;
	border-radius: 0px;
	margin-bottom:0px;
    background: #fff;

    .container-fluid{

    	min-height: 70px;

    	.navbar-header{

    		height:70px;
    		margin-left: 1%;

    		.navbar-brand{

    			height: 70px;

    			img{

    				width: 50%;
    			}
    		}
    	}

    	#header-content{

    		.btn-logout{

    			background-image: none;
    			border: 0px;
    		}

	    	ul{
	    		background:#fff;

	    		li{

					a{

						background: #fff;
						box-shadow: none!important;		
						font-size: 14px;
						padding-top: 25px;
						font-weight: 700;
						color: #4fa7b1;
					}
				}

				&.nav-left{

					margin-left: -5em;

		    		li{

		    			margin-right: 10px; 

		    			&:hover, &.active, &.current{
		    				a{
		    					color: #333!important;
		    				}
		    			}
		    		}
		    	}

		    	&.navbar-right{

		    		margin-right: -25em;
		    		margin-top: -10px;

		    		li{

		    			width: 20%;

		    			a{

		    				img{

								width: 60%;
								float: left;
							}

							.caret{
								float: left;
    							margin-top: 27%;
							}
		    			}
		    		}
		    	}

		    	&.trial-header{

		    		margin-right: -19.5em!important;
		    		margin-top: -0.7% !important;

		    		li{

		    			width: 25%;

		    			a{

		    				img{

								width: 70%;
								float: left;
							}

							.caret{
								float: left;
    							margin-top: 30%;
							}
		    			}
		    		}
		    	}

		    	&.guest-header{

		    		margin-right: 0%!important;
		    		margin-top: 1.5%!important;

		    		li{

		    			width: 50%!important;
		    		}
		    	}
	    	}

		}

		.dropdown-menu{

			li{
				width: 90%!important;
			}
		}

		#dropdown-right{

			li{

				a{

					padding-top: 0px;
				}
			}
		}
    }
}

#feedback-dashboard{

	margin-bottom: 8%;
	position: relative;

	.steps{

		width: 68%;
		margin-left: 20%;

	}

	.content{

		.step1{

			div.content-left{

				div.networks-wrapper{

					margin-top: 35px;

					.panel{

						-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
			    		box-shadow: 0 0px 0px rgba(0,0,0,.05);
			    		border: 0;

			    		.panel-heading{

			    			background: #41799b;
						    border-top-left-radius: 3px;
						    border: 0;
						    border-top-right-radius: 3px;

						    h3{

						    	text-align: center;
							    color: #fff;
							    font-weight: 700;
							    text-shadow: none;
						    }
			    		}

			    		.panel-body{

			    			border-left: 1px solid #f9f9f9;
						    border-right: 1px solid #f9f9f9;
						    border-bottom: 1px solid #f9f9f9;
						    background: #f9f9f9;
						    border-bottom-right-radius: 3px;
						    border-bottom-left-radius: 3px;
						    padding: 0px 10px;
						    overflow: hidden;
						    min-height: 15em;

						    img{

						    	width: 75%;
    							margin-left: 17px;
						    }

						    label{

						    	float: left;
    							margin: 15px 0px 15px;
						    }

						    input[type=checkbox].css-checkbox {
								position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
							}

							input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
								padding-left:34px;
								height:24px; 
								display:inline-block;
								line-height:24px;
								background-repeat:no-repeat;
								background-position: 0 0;
								font-size:24px;
								vertical-align:middle;
								cursor:pointer;

							}

							input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
								background-position: 0 -24px;
							}
							label.css-label {
								background-image:url(../images/csscheckbox.png);
								-webkit-touch-callout: none;
								-webkit-user-select: none;
								-khtml-user-select: none;
								-moz-user-select: none;
								-ms-user-select: none;
								user-select: none;
							}
			    		}
					}
				}

				.form-keyword{

					width: 100%;

					a{
						font-size: 10px;
						color: #41799b;
						font-weight: 700;
					}

					input[type=text]{

						text-align: center;
					    font-weight: 700;
					    color: #333;
					}

					span.input-group-addon{

						background: #41799b;
					    color: #fff;
					    border: 1px solid #41799b;
					    font-weight: 700;
					}

					span.helper-block{

						float: left;
						font-size: 10px;
						font-weight: 700;
						text-shadow: none;
					}
				}
			}

			div.content-right{

				div.message-container{

					position: relative;

					&:before{
						
						width: 380px!important;
						background-size: 90% 100%!important;
						background: url(../images/preview-placeholder.png) 60% 0 no-repeat;
						margin-top: -4%!important;
						@include generic-message-phone-background;

					}

					div.message-text{

						width: 45.7%;
						left: 23.8%;
						margin-top: 4.6%;
						position: absolute;
    					height: 20em;

					    p.message-sender-id{

					    	font-size: 12px;
						    color: #fff;
						    text-shadow: none;
						    font-weight: 700;
						    text-align: left;
						    margin-left: 30px;
						    margin-top: 5px;
					    }

					    div.sms-text{

					    	width: 160px;
						    min-height: 55px;
						    background: url(../images/feedback-message-bg.png) no-repeat;
						    background-size: 100% 100%;
						    margin: 15px 10px;
						    word-wrap: break-word;

						    p{
						    	color: #969191;
							    font-weight: 700;
							    font-size: 10px;
							    padding: 5px 0px 0px 6px;
    							width: 148px;
						    }
					    }
					}
				}
			}
		}

		.step2{

			div.content-left{

				h4{

					font-weight: 700;
					color: #41799c;
					text-align: left;
				}

				div.message-wrapper{

					margin-top: 10%;
				}
			}

			div.content-right{

				div.message-container{

					position: relative;

					&:before{
						
						width: 380px!important;
						background-size: 90% 100%!important;
						background: url(../images/preview-placeholder.png) 60% 0 no-repeat;
						margin-top: -4%!important;
						@include generic-message-phone-background;

					}

					div.message-text{

						width: 45.7%;
						left: 23.8%;
						margin-top: 4.6%;
						position: absolute;
    					height: 20em;

					    p.message-sender-id{

					    	font-size: 12px;
						    color: #fff;
						    text-shadow: none;
						    font-weight: 700;
						    text-align: left;
						    margin-left: 30px;
						    margin-top: 5px;
					    }

					    div.sms-text{

					    	width: 160px;
						    min-height: 55px;
						    background: url(../images/feedback-message-bg.png) no-repeat;
						    background-size: 100% 100%;
						    margin: 15px 10px;

						    p{
						    	color: #969191;
							    font-weight: 700;
							    font-size: 10px;
							    padding: 5px 0px 0px 6px;
								width: 148px
						    }
					    }

					    div.sms-reply{

					    	width: 150px;
						    min-height: 70px;
						    background: url(../images/feedback-message-reply-bg.png) no-repeat;
						    background-size: 100% 100%;
						    margin: 15px 20px;

						    p{
						    	color: #fff;
							    font-weight: 700;
							    font-size: 10px;
							    padding: 5px 0px 0px 15px;
								width: 148px;
								text-align: justify;
						    }
					    }
					}
				}
			}
		}

		.step3{

			h4{
				color: #4fa6b1;
				margin: 5% 0% 10%;
				font-weight: 700;
				text-align: center;
			}

			label{

				font-size: 1.3em;
			    margin-top: 10px;
			    color: #4fa6b1;

			    img{

			    	width: 30%;
			    	margin-left: 5px;
					margin-right: 5px;
			    }
			}

			form{

				width: 100%;
				margin-left: 20%;

				input[type=text]{

					width: 35%;
				    text-align: center;
				    font-size: 1em;
				    font-weight: 700;
				}
			}
		}
	}
}

#hypercast-container{

	.content{

		min-height: 30em;
		margin: 3% 12%;

		.step1{

			div.hyper-age-group{


			}
		}
	}
}

#videocast-container{

	.content{

		min-height: 30em;
		width: 85%;
		margin: 1% 12%;

		.step2{

			div.content-left{

				.message-wrapper{

					div.textarea-wrapper{

						width: 100%!important;
					}

					div.campaign-msg-wrapper{

						float: left;
					    width: 100%;
					    margin-top: 15px;

					    h4{
					    	float: left;
					    }

					    input[type=text]{

					    	width: 65%;
    						float: right;
    						color: #555;
    						font-weight: 700;
					    }
					}

					div.campaign-landing-page{

						float: left;
					    width: 100%;
					    margin-top: -10px;
					    text-align: center;

					    div.textarea-wrapper{

					    	.textarea{

					    		padding: 5px 25px 25px!important;
					    	}
					    }
					}

					div.campaign-upload-content{

						h4, h5{
							text-align: center;
							font-weight: 700;
    						color: #41799c;
						}

						@include general-upload-file;

						.upload-left{

							width: 55%;

							div.input-group{

								margin-bottom: 15px;
							}

							div.divider{

								text-align: center;
								font-weight: 700;

								&:before{

									content: "";
								    font-weight: 700;
								    color: #767676;
								    width: 90%;
								    background: url(../images/contents-border2.png) 50% 0 no-repeat;
								    float: left;
								    margin-top: 10px;
								    height: 2px;
								    position: absolute;
								    z-index: -1;
								}
							}

							div.youtube-link{

								margin-top: 15px;

	    						input[type=text]{

	    							width: 100%;
	    							text-align: center;
	    							font-weight: 700;
	    							color: #555;
	    							text-shadow:none;
	    							text-transform: none;
	    						}
							}
						}

						.upload-right{

							width: 44%;
						}
					}

				}

				.sender-id-wrapper{

					select{

						width: 60%;
					}
				}
			}

			div.content-right{

				div.message-container{

					&:before{

						height: 60em!important;
						background-size: 410px 100%!important;
						background: url(../images/preview-video-page.png) 65% 0 no-repeat;
						@include generic-message-phone-background;
					}

					div.message-content{

						position: absolute;
					    width: 48%;
					    margin: 10.6% 22%;

					    div.message-logo{

					    	padding: 10px 7px 5px 5px;
						    width: 100%;
						    height: 5em;
					    }

					    div.message-video{

					    	.iframe{

					    		width: 100%;
							    height: 10em;
							    border: 0;
							    padding: 0 8px 0px 5px;
					    	}
					    }

					    div.message-lading-page{

					    	width: 90%;
						    height: 16em;
						    overflow: hidden;
						    overflow-y: scroll;
						    font-size: 12px;
						    margin: 10px 0px 0 15px;
						    float: left;
						    text-align: justify;
						    word-wrap:break-word;

						    @include generic-scrollbar;
					    }
					}
				}
			}
		}

		.step3{

			.step3-container{

				margin-left: 4.666667%;

				.videocast-schedule{

					h4{

						color: #4fa6b1;
					}

					label{

						font-size: 1.3em;
					    margin-top: 10px;
					    color: #4fa6b1;

					    img{

					    	width: 30%;
					    	float: right;
						    margin-right: 20px;
						    margin-top: -3px;
					    }
					}

					form{

						width: 100%;
    					float: left;

    					input[type=text]{

							width: 100%;
						    text-align: center;
						    font-size: 1em;
						    font-weight: 700;
						}
					}
				}
			}
		}
	}

	.steps{

		&:before{

			width: 68%;
		}

		margin-left: 23%;

		ul{

			li{

				width: 33%;

				&:nth-child(2){

					a{

						span.steps-text{

							margin-left: 14px;
						}
					}
				}
			}
		}
	}
}

.outside-schedule{

	img{

		width: 15em;   
	}
}

.message-template-container{

	h4{

		color: #41799c;
		font-weight: 700;
		text-align: center;
	}

	p{
		color: #67afb8;
		font-weight: 700;
	}

	.btn-save-template, .act_load_more{

		background: #50a6b1;
	    border: 1px solid #50a6b1;
	    color: #fff;
	    text-shadow: none;
	    font-weight: 700;
	    padding: 8px 40px;
	    margin: 5% 25%;
	    outline: none;

	    &:hover{

	    	opacity: 0.8;
	    }

	    &:active, &:focus, &:visited{

	    	background: #50a6b1;
		    border: 1px solid #50a6b1;
		    color: #fff;
	    }
	}

	.left-content{

		padding: 0 5%;
		padding-right: 9%;
		border-right: 1px solid #41799b;
		height: 38em;

		.templates-container{

			    height: 28em;
    			overflow-x: auto;
    			margin-top:15px;

    			@include generic-scrollbar;

			.template-groups{

				width: 100%;
    			float: left;
    			height: auto;
    			box-shadow: none;

				li{

					float: left;
    				width: 100%;
    				background: none;
    				border-left: 0px;
    				border-right: 0px;
    				border-bottom: 1px solid #c3c3c3;
    				padding: 10px 10px;
    				display: none;
    				list-style-type: none;
    				list-style: none;

    				&:first-child{

    					border-top: 0px;
    					padding-top: 0px;
    				}

    				&:last-child{

    					border-bottom: 0px;
    				}

					span{

						color: #67afb8;
						font-weight: 700;

						&.template-msg{

							float: left;
							width: 75%;

							h4{

								text-align: left!important;
							}
						}

						&.btn-action{

							float: right;
							font-size: 15px;
							margin-top: 10px;

							a{

								border: 0px;
								background: none;
								cursor: pointer;
								outline: none;

								span{

									color: #888787 !important;

									&:visited, &:focus, &:active{

										border:0px!important;
									}

									&:hover{

										opacity: 0.8;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	#sender-id-form{

		button{

			margin: 5% 33%;
		}
	}

	.right-content{

		padding: 0 9%;

		form{

	    	margin-top: 15px;

			label{

				font-size: 16px;
				color: #41799c;

				&.error{

					color: #8a1f11!important;
    				float: left;
    				width: 100%;
    				text-align: left!important;
    				font-size: 14px!important;
				}
			}

			div.textarea-wrapper{

				@include generic-textarea-wrapper;

				.textarea{

					@include generic-textarea;

				    @include generic-scrollbar;
				}

				span.message-character-count{

					@include generic-message-character-count;
				}
			}
		}
	}
}

.free-trial{

	h4.contact-header{
		/*margin-left: 5%!important;*/
		text-align: center!important;
	}

	.go-live-wrapper{

		float: left;
	    font-weight: 700;
	    font-size: 15px;

	    a{
	    	font-weight: 700;
    		margin-left: -5px;

    		&:visited, &:active, &:focus{

    			border:0px!important;
    			outline: none;
    		}
	    }
	}

	.content{

		/*width: 65%!important;*/

		.step1{

			.go-live-wrapper{

				margin: 0 12px;
				width: 100%;
			}

			label.error{
				margin-left: 0!important;
			}

			button.btn-add-contact{

				background: #50a6b1;
			    border: 1px solid #50a6b1;
			    color: #fff;
			    text-shadow: none;
			    font-weight: 700;
			    outline: none;

			    &:hover{

			    	opacity: 0.8;
			    }
			}

			div.contact-container{

				/*margin-left: 28%;*/

				div.input-group{

					input[type=text]{
						text-align: center;
		    			font-weight: 700;
					}
				}

				div.added-numbers{

					&.disabled{

						background: #e2dede;
		    			border: 1px solid #b9b9b9;
					}

					border: 1px solid #67afb8;
				    background: #fff;
				    border-radius: 5px;
				    position: relative;
				    margin-top:10px;
				    float: left;
				    height: 15em;
				    width: 100%;

				    p.no-contacts{

				    	text-align: center;
		    			margin-top: 5%;
		    			color: #929090;
				    }

				    ul{

						li{

							list-style: none;
							list-style-type: none;
							border: 0;
							float: left;
							/*width: 97%;*/
							width: 100%;
							padding: 10px 0px 5px 20px;

							span.contact-text{
								float: left;
								color: #67afb8;
								font-weight: 700;
							}

							button.btn-remove{

								float: right;
								border: 0;
								background: #fff;
								outline:none;

								img{
									width: 60%;
								}

								&:hover{
									opacity: .8;
								}
							}

							button.warning{

								background: #fff;
							    border: 0;
							    padding: 0;
							    outline: none;
							    margin-left: 5px;

							    img{
							    	width: 80%;
							    }
							}
						}
					}

					.total-contacts{

				    	background: #fff !important;
					    padding: 10px 0 5px 0;
					    bottom: 0;
					    position: absolute;
					    /*margin-left: 35%;*/
					    color: #585555;
					    font-weight: 700;
					    text-align: center;
				    }
				}
			}
		}
	}
}

.broadcast-container{

	margin-bottom: 2%;
	position: relative;

	h4{

		font-weight: 700;
		color: #41799c;
		text-align: center;

		&.contact-header{

			/*margin-left: 38%;
			text-align: left;*/
		}
	}

	.content{

		/*margin: 1% 16%!important;*/

    	/*step 1*/
		.step1{

			padding: 0;
			width: 100%;

			label.error{
				margin-left: 19%;
			}

			a.btn-go-contacts{

				background: #41799b;
			    border: 0;
			    color: #fff;
			    text-shadow: none;
			    padding: 10px 40px;
    			margin: 20px 33%;
    			font-weight: 700;

    			&:hover{

    				opacity: 0.8;
    			}
			}

			.contacts-container{

				border: 1px solid #67afb8;
			    background: #fff;
			    border-radius: 5px;
			    position: relative;
			    /*margin-left: 18.666667%;*/

			    input[type=checkbox].css-checkbox {
					position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
				}

				p{
					color: #67afb8;
					padding-top: 3px;
					text-align: right;
				}

				input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
					padding-left:27px;
					height:24px; 
					display:inline-block;
					line-height:17px;
					background-repeat:no-repeat;
					background-position: 0 5px;
					font-size:14px;
					vertical-align:middle;
					cursor:pointer;
					background-size: 24px;
					color: #67afb8;
					font-weight: 700;
					padding-top: 7px;
				}

				input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
					background-position: 0 -18px;
					background-size: 24px;
				}
				label.css-label {
					background-image:url(../images/csscheckbox.png);
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}

				.contact-lists{

					margin: 5px 7px 0 0;
				    height: 12em;
				    overflow: auto;
				    margin-bottom: 90px;

				    @include generic-scrollbar;
				} 

				.checkbox{

					width: 100%;
					float: left;

				}

				.all-contacts{

					background: #f1efef!important;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    padding: 0;

				    .select-all-checkbox{

				    	/*background: #f1efef;
				    	margin-left: 20px;
    					width: 90%;*/
    					text-align: center;
				    }

				    .total-contacts{

				    	background: #fff!important;
				    	padding: 10px 0 5px 0;
    					text-align: center;
    					color: #67afb8;
    					font-weight: 700;
    					font-size: 16px;

    					a{

    						color: #67afb8;
    						text-decoration: underline;
    					}
				    }
				}
			}

			.btn-go-contacts{

				background: #41799b;
			    border: 0;
			    color: #fff;
			    text-shadow: none;
			    margin-top: 20px;
			    padding: 10px 30px;
			    /*margin-left: 20%;*/

			    &:hover, &:active, &:focus{
			    	background: #41799b!important;
			    	opacity: .8;
			    	color: #fff;
			    }
			}

		}

		/*step 2*/
		.step2{

			padding: 0;
			width: 100%;

			h4{
				text-align: left;
			}

			label.error{

				margin-left: 0;
			}

			div.content-left{

				.sender-id-wrapper{

					&.disabled{

						h4{
							color: #afadae;
						}

						select{

							background-color: #f9f7f8;
							color: #afadae;
							width: 80%;
						}
					}

					select{

						@include generic-select-style;
						width: 50%;
						font-weight:700;
						color: #555;

						option.apply-sender-id{

							color: #41799b;
							font-weight: 700;
						}
					}
				}
			}

			div.content-right{

				div.message-container{

					position: relative;

					&:before{
						
						background: url(../images/preview-placeholder.png) 0% 0 no-repeat;
						background-size: 430px 100%!important;
						height: 40em!important;
						margin-left: 5%;
						@include generic-message-phone-background;
					}

					div.message-text, div.broadcast-live{

						@include generic-message-container;
						overflow: hidden;
						/*width: 50%!important;*/

					    p.message-sender-id{

					    	font-size: 12px;
						    color: #fff;
						    text-shadow: none;
						    font-weight: 700;
						    text-align: center;
						    margin-top: 10px;
						    /*margin-left: 25px;*/
						    height: 15px;
						    position: initial;
						    top: 0;
						    left: 0;
					    }

					    div.sms-text{

					    	width: 169px;
						    min-height: 30px;
						    background: url(../images/sms-message-body.png) no-repeat;
						    background-size: 100% 100%;
						    /*margin: 15px 10px;*/
						   	word-wrap: break-word;

						   	&:before{

						   		color: #fff!important;
						   		content: "";
						   	}

						    p{
						    	color: #969191;
							    font-weight: 700;
							    font-size: 10px;
							    padding: 5px 15px;
							    overflow-y: auto;
							    min-height: 30px;
							    max-height: 20em;
							    @include generic-scrollbar;

							    span{

							    	white-space: pre-wrap;
							    }
						    }
					    }
					}
				}
			}
		}

		/*step 3*/
		.step3{

			div.step3-container{

				/*margin-left: 19.666667%;*/

				&.free-trial{

					button{

						margin-bottom: 10px!important;
					}
				}

				.divider{

					&:before{

						background:url(../images/contents-border2.png) 39% 0 no-repeat!important;
					}
				}

				div.send-now-wrapper{

					float: left;
					width: 100%;
					text-align: center;
					/*margin-top: 5%;*/

					input[type=checkbox].css-checkbox {
						position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
					}

					input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
						padding-left:27px;
						height:24px; 
						display:inline-block;
						line-height:24px;
						background-repeat:no-repeat;
						background-position: 0 5px;
						font-size:16px;
						vertical-align:middle;
						cursor:pointer;
						background-size: 24px;
						color: #67afb8;
						font-weight: 700;
						padding-top: 3px;
					}

					input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
						background-position: 0 -18px;
						background-size: 24px;
					}
					label.css-label {
						background-image:url(../images/csscheckbox.png);
						-webkit-touch-callout: none;
						-webkit-user-select: none;
						-khtml-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}
				}

				@include generic-dashed-divider;

				div.schedule-wrapper{

					h4{
						color: #4fa6b1;
						margin: 5% 0% 10%;
					}

					label{

						font-size: 1.3em;
					    margin-top: 10px;
					    color: #4fa6b1;

					    img{

					    	width: 25%;
					    	float: right;
						    margin-right: 35px;
						    margin-top: -3px;
					    }

					    &.error{

							margin-left: 0;
						    font-size: 14px;
						    color: #8a1f11;
						}
					}
				}
			}
		}
	}
}

/*updated step by step wizard jquery*/
.wizard{

	.content{

		background: none;
		min-height: 33em;
		/*margin: 1% 10%;
    	width: 80%;*/

    	.message-wrapper{

			span.warning-message{

				font-size: 11px;
				float: left;
			}

			div.textarea-wrapper{

				@include generic-textarea-wrapper;

				.textarea{

					@include generic-textarea;

				    @include generic-scrollbar;
				}

				span.message-character-count{

					@include generic-message-character-count;
				}
			}
		}
	}

	.actions{

		text-align: center;
	    width: 70%;
	    margin-left: 15.7%;

	    ul{

	    	li{

	    		a{
	    			color: #fff!important;
	    			font-weight: 700;
	    			background: #50a6b1;
	    			padding: 10px 65px!important;
	    			text-shadow: none;
	    			border: 1px;
	    		}

	    		&.disabled{

		    		a{
		    			background: #98c7ce;
		    			outline: none;

		    			&:hover, &:focus, &:active, &:visited{

		    				background: #98c7ce;
		    			}
		    		}
		    	}
	    	}
	    }
	}

	.steps{

		width: 63%;
		margin-left: 23%;

		&:before{

		    content: "";
		    font-weight: 700;
		    color: #767676;
		    width: 63%;
		    background: url(../images/steps-border.png) 100px 0 repeat-x;
		    float: left;
		    margin-top: 25px;
		    height: 2px;
		    position: absolute;
		    z-index: -1;
		    margin-left: 80px;
		}

		ul{

			li{

				width: 30%;

				a{

					background: none!important;
					
					span.steps-index{

						font-size: 1.2em;
						color: #fff;
					    font-weight: 700;
					    border-radius: 30px;
					    -webkit-border-radius: 30px;
	  					-moz-border-radius: 30px;
					    padding: .5em .8em .5em .8em;
					    margin-left: 25%;
					}

					span.steps-text{

						font-size: 12px;
						float: left;
						color: #333;
						margin-top: 10px;
					}
				}
				&:last-child a span.steps-index:last-child{
					margin-left: 35%;
				}

				&.current{

					a{
						span.steps-index{
							background: #41799c;
						}
					}
				}

				&.disabled, &.done{

					a{

						span.steps-index{
							background: #9bc8cd;
						}
					}
				}
			}
		}
	}
}

.upload-contacts-warning{

	padding: 20px;

	h5{
		color: #41799b;
		font-weight: 700;
		text-align: center;
	}

	img{
		width: 40%;
		margin: 0 30% 5%;
	}


	button{

		color: #fff;
		font-weight: 700;
		text-shadow: none;
		outline: none;

		&.btn-back, &.delete-btn{

			padding: 5px 35px;
		    background: #88c9ca;
		    border: 1px solid #88c9ca;
		}

		&.btn-confirm{

			background: #50a7b1;
		    border: 1px solid #50a7b1;
		    padding: 5px 15px;
		    float: right;
		}
	}
}

.btn-dashboard-back{

	background: #50a7b1;
	    border: 1px solid #50a7b1;
	    padding: 10px 80px;
	    color: #fff;
	    font-weight: 700;
	    margin-left: 0;
	    outline: none;

	 &:hover{

	 	background: #50a7b1!important;
	    border: 1px solid #50a7b1!important;
	    padding: 10px 80px;
	    color: #fff!important;
	    opacity: 0.8;
	 }
}

#contact-group-warning{

	.summary-wrapper button{
	    padding: 7px 30px;
	}

	.summary-wrapper div.btns{
		margin-left: 15%!important;
	}

	.btn-download-invalid{

		color: #656060;
	    font-size: 13px;
	    text-transform: capitalize;
	    text-decoration: underline;

	    &:hover{

	    	text-decoration: none;
	    }
	}
}

#go-live, #delete-record, #save-success, #contact-group-warning, #deleteModal, #successModalDashboard, #successResendBroadcast{
	h1, h3{
		color: #41799b;
		font-weight: 700;
	}
	.summary-wrapper{
		button{
			padding: 5px 45px;
		}
		text-align: center;
		img{
			width: 40%;
		}
		p{
			color: #67afb8;
			font-weight: 700;
			font-size: 17px;
    		margin-bottom: 20px;
		}

		.panel-default{

			padding: 0 20px;
		}
	}
} 
#go-live{
	.btn-confirm, .btn-live{
		background: #50a7b1;
	    border: 1px solid #50a7b1;
	    padding: 5px 15px;
	    float: right;
	}
}
#delete-record, #save-success, #contact-group-warning, #deleteModal, #successModalDashboard, #successResendBroadcast{
	.summary-wrapper{
		p{
			color: #333;
		}
		div.btns{
			margin-left: 10%;
		}
		button{
			padding: 7px 65px;
		}
		img{
			width: 25%;
			margin-left: 0%;
		}
	}
}
#save-success, #successModalDashboard, #successResendBroadcast {
	h3{
		color: #fff;
	}
	.btn-confirm{
		background: #50a7b1;
	    border: 1px solid #50a7b1;
	    padding: 10px 80px;
	    color: #fff;
	    font-weight: 700;
	    margin-left: 35%;
	    margin-bottom: 25px;
	}
}

#deleteModal{ 
	.summary-wrapper{ 

		img{

			width: 10em;
			margin-bottom: 10px;
		}

		.btn-back{

			color: #fff;
			font-weight: 700;
			text-shadow: none;
			outline: none;
			padding: 5px 60px;
		    background: #6eb0b1;
		    border: 1px solid #6eb0b1;
		}

		.btn-yes-delete{

			color: #fff;
			font-weight: 700;
			text-shadow: none;
			outline: none;
			padding: 5px 60px;
		    background: #41799b;
		    border: 1px solid #41799b;
		}
	}
}

/*general modal summary*/
.modal-summary{

	margin-top: -20px;

	h1{

		color: #41799b;
		font-weight: 700;
		margin-left: 30%;

		i{
			font-size: 1.5em;
		}
	}

	div.summary-wrapper{

		padding: 10px 40px 40px;

		a{
			color: #5ea6b5;
		}

		div.btns{

			width: 70%;
    		margin-left: 13%;
    		margin-bottom: 20px;

			button{

				color: #fff;
				font-weight: 700;
				text-shadow: none;
				outline: none;

				&.btn-back{

					padding: 5px 60px;
				    background: #6eb0b1;
				    border: 1px solid #6eb0b1;
				}

				&.btn-confirm{

					background: #41799b;
				    border: 1px solid #41799b;
				    padding: 5px 40px;
				    float: right;
				}
			}
		}

		div.free-trial-campaign-name{
			width: 100%;
			margin-bottom: 20px;

			.form-inline{

				.form-group{

					width: 100%;

					label{

						font-weight: 700;
						text-shadow: none;
						color: #41799b;
						font-size: 16px;
					}

					input[type=text]{
						width: 65%;
						color: #333;
						font-weight: 700;
					}
				}
			}
		}

		.campaign-body{

	 		width: 100%;

	 		div.form-group{

	 			width: 100%;

	 			label{

					font-weight: 700;
					text-shadow: none;
					color: #41799b;
					font-size: 16px;
				}

	 			input[type=text]{
	 				width: 62%;
	 			}
	 		}
	 	}

		.panel{

			-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    		box-shadow: 0 0px 0px rgba(0,0,0,.05);
    		border: 0;

    		.panel-heading{

    			background: #4ea0b0;
			    border-top-left-radius: 10px;
			    border: 0;
			    border-top-right-radius: 10px;

			    h3{

			    	text-align: center;
				    color: #fff;
				    font-weight: 700;
				    text-shadow: none;
			    }
    		}

    		.panel-body{

    			border-left: 1px solid #f9f9f9;
			    border-right: 1px solid #f9f9f9;
			    border-bottom: 1px solid #f9f9f9;
			    background: #f9f9f9;

			 	p{

			 		&.text-center{
			 			text-align: center;
			 		}

			 		&.message-body{

			 			white-space: pre-wrap;
			 		}
			 	}
    		}
		}
	}
}

/*sms broadcast success page*/
.successfull-broadcast-wrapper{

	text-align: center;

	h4{

		color: #50a7b1;
		font-weight: 700;
		margin-bottom: 5%;
	}

	p{
		margin-top: 5%;
	}

	div.btns{
		margin-top: 1%;
		text-align: right;

		a{

			color: #fff;
			font-weight: 700;
			text-shadow: none;
			padding: 10px 30px;
			font-weight: 700;

			&.btn-create{

				background: #98c7ce;
				border: 1px solid #98c7ce;
			}

			&.btn-dashboard, &.btn-go-live{

				background: #41799b;
    			border: 1px solid #41799b;

			}

			&:hover, &:active, &:focus{
				color:#fff;
				opacity: .8;
			}


		}

		&.free-trial-btn{

			text-align: center;
    		margin-left: 15%;

			a.btn-home{
				padding: 5px 60px;
    			margin-right: 30px;
			}
		}
	}

	div.content-top{

		width: 80%;
    	margin-left: 5%;

		div.reference-wrapper{

			&.disabled{

				color: #a19c96;

				button{

					@include general-disabled-button;

					&:hover{

						@include general-disabled-button;
						outline: none;

					}
				}
			}

			margin-top: 5%;

			form{

				input[type=text]{

					color: #8d8d8d;
				    font-weight: 700;
				    text-align: center;
				}

				button{

					background: #50a7b1;
				    border: 1px solid #50a7b1;
				    color: #fff;

				    &:hover{

				    	background: #50a7b1;
				    	border: 1px solid #50a7b1;
				    	opacity: .8;
				    	color: #fff;
				    }
				}
			}
		}
	}
}

/*modal sms boradcast upload contacts*/
.modal-save-contacts-wrapper{

	form{
		width: 90%;
		margin-left: 5%;
	}

	a{
		color: #41799c;
		font-size: 12px;
	    text-align: center;
	    margin: 4% 30%;
	    float: left;
	    font-weight: 500;
	}

	h4{
		font-weight: 700;
		color: #41799c;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	h5{

		color: #464646;
		font-weight: 700;
		text-align: center;
		line-height: 1.4em;
	}

	.modal-upload-contacts{

		padding: 25px 20px;

		img.ic-upload-contact{

			margin-left: 25%;
			width: 50%;
		}

		@include general-upload-file;
	}

	.upload-contacts-warning{

		padding: 20px;

		img{
			width: 40%;
			margin: 0 30% 5%;
		}

		button{

			background: #41799b;
		    font-weight: 700;

			&.edit-btn{

				padding: 5px 30px;
	   			float: left;
			}

			&.delete-btn{

				padding: 5px 20px;
		    	float: right;
			}

			&:hover{

				border-color:#41799b;
				opacity: .8;
			}
		}
	}
}

/*modal sms broadcast save contact list*/
.save-contact-list{

	padding-top: 20px;

	h5{
		color: #41799c;
		font-weight: 700;
		text-align: center;
		line-height: 1.4em;
	}

	input[type=text]{

		margin-left: 10%;
		width: 80%;
		font-size: 12px;
	    text-align: center;
	    font-weight: 700;
	    color: #333;
	    background: #fff;
	}

	img{

		width: 30%;
		margin-left: 35%;
	}

	button{

		background: #41799b;
	    color: #fff;
	    border-color: #41799b;
	    padding: 5px 60px;
		margin-left: 27%;

	    &:hover, &:focus, &:active, &:visited{
	    	background: #50a7b2!important;
	    	border: 1px solid #50a7b2;
	    	opacity: .8;
	    	color: #fff;
	    	outline: none;
	    }
	}
}

.easyPaginateNav{

	float: left;
	text-align: center;

	a{

		margin: 5px;
	    font-weight: 700;
	    padding: 10px 15px 10px 15px;
	    cursor: pointer;

		&.current, &:hover{

		    background: #337ab7;
		    color: #fff;
		    border: 1px solid #337ab7;
	    	border-radius: 3px;
	    	text-decoration: none;
		} 
	}
}

.toggled{

	#videocast-container .content .step2 div.content-right div.message-container div.message-content{

		width: 37%;
    	margin: 10.6% 31%;
	}

	/*.broadcast-container .content .step2 div.content-right div.message-container div.message-text{

		left: 21.8%;
		margin-top: 9%;
	}*/

	/*.broadcast-container .content .step2 div.content-right div.message-container div.broadcast-live {
	    left: 18.8%;
	    margin-top: 8%;
	}*/

	.broadcast-container .content .step2 div.content-right div.message-container div.message-text p.message-sender-id{

		margin-left: -10px;
		margin-top: 10px;
	}

	/*.broadcast-container .content .step2 div.content-right div.message-container div.broadcast-live p.message-sender-id{

		margin-top: 10px;
		width: 65%;
	}*/

	/*.broadcast-container .content .step3 div.step3-container{

		margin-left: 17.666667%;
	}*/

	#feedback-dashboard .content .step1 div.content-right div.message-container div.message-text, #feedback-dashboard .content .step2 div.content-right div.message-container div.message-text{

		left: 19.8%;
		margin-top: 3.3%;
	}
}

.sender-id-wrapper{

	.left-content{

		border-right: 1px solid #41799b;
    	height: 34em;

		padding-right: 7%;

		.sender-ids-container{ 

			.nav-pills{

				margin-left: 15%;

				li{

					a{

						font-weight: 700;
						font-size: 12px;

						&:hover {
							color: white;
						}
					}

				}
			}

			.btn-save-template{

				margin: 5% 33%;
			}

			.tab-content{

				margin-top: -15px;

				.tab-main{

					margin-top: 20px;
					height: 20em;
					overflow-y: auto;
					@include generic-scrollbar;
				}

				.tab-pane{

					.list-group{

						box-shadow: none;

						li{

							background: none;
						    border: 0px;
						    border-bottom: 1px solid #d9d9d9;
						    padding: 15px;
						    display: none;

						    span{

						    	color: #67afb8;
						    	font-size: 16px;
						    	font-weight: 700;
						    }
						}
					}
				}
			}
		}
	}
}

.contacts-holder{

	margin-bottom: 8%;
	position: relative;

	h4{

		font-family: 'Gotham Bold';
		color: #41799c;
		text-align: center;

		&.contact-header{

			margin-left: 38%;
			text-align: left;
		}
	}

	.content{

		width: 100%;
		display: block;
		height: auto;
		min-height: 200px;

		label.error{
			margin-left: 0;
		}

		.contacts-container{

			/*border: 1px solid #67afb8;
		    background: #fff;
		    border-radius: 5px;*/

		    button {

				background: #50a7b2;
			    border: 1px solid #50a7b2;
			    color: #fff;

			    &:hover{
					background: #41799b;
					border: 1px solid #41799b;
				}
				&.choose-file-btn{

					padding: 2% 10%;
			    	margin-left: 30%;
				}
			}

			.dl-tmpl {
				margin: 10px 0;
				display: block;
			}

			.no-padding {
			   padding-left: 0;
			   padding-right: 0;
			}

			div.upload-contacts{
				margin-top: 10px;
				margin-bottom: 20px;

				&.disabled{

					h4{
						color: #afadae;
					}

					button{

						@include general-disabled-button;
					}
				}
			}

			div.type-contacts{

				form{

				    width: 65%;
					margin-left: 20%;

					input[type=text]{
						font-weight: 700;
						text-align: center;
						height: 34px;
					}
				}
			}

			div.divider{

				text-align: center;
				font-weight: 700;

				&:before{

					content: "";
				    font-weight: 700;
				    color: #767676;
				    width: 100%;
				    background: url(../images/contents-border2.png) 50% 0 no-repeat;
				    float: left;
				    top: 10px;
				    margin-top: 10px;
				    height: 2px;
				    position: relative;
				    z-index: -1;
				}
			}


		    div.added-numbers {

				&.disabled{

					background: #e2dede;
	    			border: 1px solid #b9b9b9;
				}

				border: 1px solid #67afb8;
			    background: #fff;
			    border-radius: 5px;
			    position: relative;
			    margin-top:10px;
			    float: left;
			    height: 15em;
			    width: 100%;

			    p.no-contacts{

			    	text-align: center;
	    			margin-top: 5%;
	    			color: #929090;
			    }

			    ul{

					li{

						list-style: none;
						list-style-type: none;
						border: 0;
						float: left;
						width: 97%;
						padding: 10px 0px 5px 20px;

						span.contact-text{
							float: left;
							color: #67afb8;
							font-weight: 700;
						}

						button.btn-remove{

							float: right;
							border: 0;
							background: #fff;
							outline:none;

							img{
								width: 60%;
							}

							&:hover{
								opacity: .8;
							}
						}

						button.warning{

							background: #fff;
						    border: 0;
						    padding: 0;
						    outline: none;
						    margin-left: 5px;

						    img{
						    	width: 80%;
						    }
						}
					}
				}

				.total-contacts{

			    	background: #fff !important;
				    padding: 10px 0 5px 0;
				    bottom: 0;
				    position: absolute;
				    margin-left: 35%;
				    color: #585555;
				    font-weight: 700;
			    }
			}


		    input[type=checkbox].css-checkbox {
				position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
			}

			p{
				color: #67afb8;
				padding-top: 3px;
			}

			input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
				padding-left:27px;
				height:24px; 
				display:inline-block;
				line-height:24px;
				background-repeat:no-repeat;
				background-position: 0 5px;
				font-size:16px;
				vertical-align:middle;
				cursor:pointer;
				background-size: 24px;
				color: #67afb8;
				font-weight: 700;
				padding-top: 3px;
			}

			input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
				background-position: 0 -18px;
				background-size: 24px;
			}
			label.css-label {
				background-image:url(../images/csscheckbox.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			.contact-lists{

				margin: 5px 7px 0 0;
			    height: 160px;
			    overflow: auto;
			    margin-bottom: 110px;

			    @include generic-scrollbar;
			} 

			.checkbox{

				width: 100%;
				float: left;

			}

			.all-contacts{

				background: #f1efef!important;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    padding: 0;

			    .select-all-checkbox{

			    	background: #f1efef;
			    	margin-left: 20px;
					width: 90%;
					text-align: center;
			    }

			    .total-contacts{

			    	background: #fff!important;
			    	padding: 10px 0 5px 0;
					text-align: center;
			    }
			}
		}
	}
}

.modal-header {
	border-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.modal-body {
	padding: 15px 30px;
}

.modal-footer {
	border-top: 0 !important;
}

.modal-upload-contacts{
	
	.modal-sm {
		width: 500px !important;
	}

	h4{
		color: #41799c;
		font-family: 'Gotham Bold';
		margin-bottom: 5%;
	}

	img.ic-upload-contact{
		margin: 20px auto;
		width: 50%;
	}

	img.ic-save-list{
		margin: 20px auto;
		width: 30%;
	}

	@include general-upload-file;

    .btn-primary {
	    background: #41799c;
	    color: #fff;
	    font-size: 14px;
    }

    .btn-default {
	    background: #6eb0b1;
	    border: 1px solid #6eb0b1;
	    color: #fff;
    }

    .btns {

    	.form-group {
    		margin-top: 15px;
    		margin-bottom: 0;
    	}

    }

    .panel{

		-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
		box-shadow: 0 0px 0px rgba(0,0,0,.05);
		border: 0;

		.panel-heading{

			background: #4ea0b0;
		    border-top-left-radius: 10px;
		    border: 0;
		    border-top-right-radius: 10px;

		    h3{

		    	text-align: center;
			    color: #fff;
			    font-weight: 700;
			    text-shadow: none;
		    }
		}

		.panel-body{

			border-left: 1px solid #f9f9f9;
		    border-right: 1px solid #f9f9f9;
		    border-bottom: 1px solid #f9f9f9;
		    background: #f9f9f9;

		 	p{

		 		&.text-center{
		 			text-align: center;
		 		}

		 		&.message-body{

		 			white-space: pre-wrap;
		 		}
		 	}
		}
	}

}

#contacts-container{

	.steps{

		width: 100%;
		margin-left: 5%;

		ul{

			li{
				width: 31%;

				&:first-child{

					a{

						span.steps-text{
							margin-left: -5px;
						}
					}
				}
			}
		}
	}

	.content{

		width: 100%;
		/*margin: 2em 1em 0em !important;*/
		/*min-height: 15em;*/

		.step1{

			text-align: center;
			margin-top: 6%;

			label.error{
				margin-left: 0!important;
			}

			input[name=contacts_name]{

				width: 60%;
				margin-left: 20%;
			}
		}

		.step1{

			h4.contact-header{

				margin-left: 0px!important;
				text-align: center;
			}
		}

		.step2{

			.content-left, .content-right{

				text-align: center;
				padding-top: 5%;

				p{
					margin-top: 10px;
				}

				label > input{ /* HIDE RADIO */
				  visibility: hidden; /* Makes input not-clickable */
				  position: absolute; /* Remove input from document flow */
				}
				label > input + img{ /* IMAGE STYLES */
				  cursor:pointer;
				  border:2px solid transparent;
				  width: 10em;
				  filter: grayscale(.6);

				  &:hover{

				  	filter: grayscale(0);
				  }
				}
				label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
				  filter: grayscale(0);
				}
			}
		}

		.step3{

			#upload-action{

				margin-top: 4%;

				a{
					color: #007732;
				}

				img{

					width: 7%;
    				margin-bottom: 10px;
				}
			}

			#upload_container{

				width: 100%;
			    float: left;
			    margin-top: 3%;
			    padding-left: 5%;

			    #upload-rules{

			    	/*width: 75%;
				    margin-left: 13%;*/
				    margin-bottom: 5%;

			    	p{

			    		text-align: left;
			    		font-weight: 700;
			    		font-size: 12px;
			    		font-style: italic;

			    		img{

			    			width: 5%;
			    		}
			    	}
			    }
			}

			div.contact-container{

				/*margin-left: 20%;
				width: 62%;*/

				div.input-group{

					input[type=text]{
						text-align: center;
		    			font-weight: 700;
					}
				}

				button.btn-add-contact{

					background: #50a6b1;
				    border: 1px solid #50a6b1;
				    color: #fff;
				    text-shadow: none;
				    font-weight: 700;
				    outline: none;

				    &:hover{

				    	opacity: 0.8;
				    }
				}

				div.added-numbers{

					&.disabled{

						background: #e2dede;
		    			border: 1px solid #b9b9b9;
					}

					border: 1px solid #67afb8;
				    background: #fff;
				    border-radius: 5px;
				    position: relative;
				    margin-top:10px;
				    float: left;
				    height: 15em;
				    width: 100%;

				    p.no-contacts{

				    	text-align: center;
		    			margin-top: 5%;
		    			color: #929090;
				    }

				    .added-container{

				    	height: 13em;
    					overflow-y: auto;
    					margin-top: 5px;
    					margin-right: 10px;
    					@include generic-scrollbar;

				    	ul{

							li{

								list-style: none;
								list-style-type: none;
								border: 0;
								float: left;
								width: 100%;
								padding: 5px 0px 5px 20px;

								span.contact-text{
									float: left;
									color: #285e8d;
									font-weight: 700;
								}

								button.btn-remove{

									float: right;
									border: 0;
									background: #fff;
									outline:none;

									img{
										width: 60%;
									}

									&:hover{
										opacity: .8;
									}
								}

								button.warning{

									background: #fff;
								    border: 0;
								    padding: 0;
								    outline: none;
								    margin-left: 5px;

								    img{
								    	width: 80%;
								    }
								}
							}
						}
				    }

					.total-contacts{

				    	background: #fff !important;
					    padding: 10px 0 5px 0;
					    bottom: 0;
					    position: absolute;
					    /*margin-left: 35%;*/
					    color: #585555;
					    font-weight: 700;
					    text-align: center;
				    }
				}
			}
		}
	}

	.actions{

		margin-left: 1%;
		width: 100%;
	}
}

.contact-group-container{

	height: 33em;
	border-right: 1px solid #41799b;

	.act_load_more{

		background: #50a6b1;
	    border: 1px solid #50a6b1;
	    color: #fff;
	    text-shadow: none;
	    font-weight: 700;
	    padding: 8px 40px;
	    margin: 5% 25%;
	    outline: none;

	    &:hover{

	    	opacity: 0.8;
	    }

	    &:active, &:focus, &:visited{

	    	background: #50a6b1;
		    border: 1px solid #50a6b1;
		    color: #fff;
	    }
	}

	.contacts-main{

		width: 80%;
		margin-left: 10%;
		overflow-y: auto;
    	height: 25em;
    	@include generic-scrollbar;

		.list-group {
		    box-shadow: none;
		    margin-top: -5px;

		    li {
			    background: none;
			    border: 0px;
			    border-bottom: 1px solid #d9d9d9;
			    padding: 0px 10px 10px;
			    /*display: none;*/

			    h4, h3, span{

			    	color: #67afb8;
			    }
			}
		}
	}
}

/*responsive media*/
@media (min-width: 320px){

	footer { 

		.footer-content{

			margin-top: 4%;
		}
	}
}

@media (min-width: 768px){

	.wizard .steps ul li a span.steps-text {
		margin-left: 10px;
	}

	footer { 

		.footer-content{

			margin-top: 2%;
		}
	}

	.header{

	    .container-fluid{

	    	#header-content{

				.navbar-nav{

					margin-left: -5%!important;
				}
			}
	    }
	}
}

/*browser window size*/
@media (min-width: 1024px){

	.contacts-wrapper{

		.contact-group-container{

			#inputString{

				height: 35px;
			}
		}

		#contacts-container{

			.steps{

				ul{

					li{

						a{

							.steps-text{

								margin-left: -2px;
							}
						}

						&:nth-child(2){

							a{

								.steps-text{

									margin-left: 2px;
								}
							}
						}

						&:first-child{

							a{

								.steps-text{

									margin-left: -12px;
								}
							}
						}
					}
				}
			}

			.content{

				margin: 0;

				.step2{

					.content-left, .content-right{

						padding-top: 10%;
					}
				}
			}
			
		}
	}

	.ui-timepicker-wrapper{

		width: 17.2em!important;
	}

	.ui-datepicker {
	    width: 17.2em;
	}

	#broadcast-controller{

		.wizard{

			/*&.free-trial{

				.steps{

					ul{

						li{

							a{

								.steps-text{

									margin-left: -2px;
								}
							}

							&:nth-child(2){

								a{

									.steps-text{

										margin-left: 2px;
									}
								}
							}

							&:first-child{

								a{

									.steps-text{

										margin-left: 2px;
									}
								}
							}
						}
					}
				}
			}*/

			.steps{

				width: 70%;
				margin-left: 20%;

				&:before{

					width: 65%;
					margin-left: 10%;
				}
			}

			.content{

				width: 100%;
				margin: 1% 0;

				.step2{

					.content-right{

						.message-container{

							.broadcast-live{

								width: 55%;
    							left: 26%;
    							top: .6em;

    							.message-sender-id{

    								width: 100%;
    								margin-top: .5em;
    							}

    							.sms-text{

    								margin: 10px 5px;
    							}
							}
						}
					}
				}

				.step3{

					.step3-container{

						.form-schedule{

							margin-left: 15%;

							#timepicker{

								width: 97%;
							}
						}

						.divider{

							margin-left: 7%;

							&:before{

								left: -1em;
							}
						}
					}
				}
			}

			.actions{

				width: 100%;
				margin-left: auto;
			}
		}
	}
}

@media (min-width: 1100px){

	.ui-datepicker {
	    width: 17.5em;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live{

		width: 47.5%;
	    left: 23%;
	    top: .4em;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live .message-sender-id{

		margin-top: .4em;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .divider {
	    margin-left: 6.5%;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .divider:before {
	    left: -.3em;
	}

	.free-trial .content .step1 .go-live-wrapper {
	    text-align: center;
	}

	.free-trial .content .step1 div.contact-container div.input-group input[type=text] {
	    height: 33px;
	}

	.contacts-wrapper #contacts-container .steps ul li a .steps-text, .contacts-wrapper #contacts-container .steps ul li:nth-child(2) a .steps-text {
	    margin-left: 1em!important;
	}

	#contacts-container .content .step3 #upload_container #upload-rules {
	    margin-left: 12.333333%;
	}
}

@media (min-width: 1290px){

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live {
	    width: 43%;
	    left: 21%;
	    top: .1em;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .form-schedule {
	    margin-left: 20%;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .divider:before {
	    left: 0em;
	}

	.free-trial .content .step1 div.contact-container div.input-group input[type=text] {
	    height: 34px;
	}

	#broadcast-controller .wizard .steps ul li a span.steps-text{
		margin-left: 1.5em!important;
	}
}

@media (min-width: 1430px){

	#broadcast-controller .wizard .steps {
	    width: 70%;
	    margin-left: 20.3%;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live {
	    width: 38.5%;
	    left: 19%;
	    top: -.1em;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live .sms-text {
	    margin: 10px 7px;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .form-schedule {
	    margin-left: 22%;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .divider:before {
	    left: .5em;
	    margin-top: 9px;
	}

	#broadcast-controller .wizard .steps:before {
	    width: 62%;
	}

	.contacts-wrapper #contacts-container .steps ul li:nth-child(2) a .steps-text, .contacts-wrapper #contacts-container .steps ul li:last-child a .steps-text {
	    margin-left: 2em!important;
	}

	.contacts-wrapper #contacts-container .steps:before{
		width: 65%;
	}

	#contacts-container .content .step3 div.contact-container div.input-group input[type=text] {
	    height: 33px;
	}

	#contacts-container .content .step3 #upload_container #upload-rules {
	    margin-left: 19.333333%;
	    margin-bottom: 1%!important;
	}

	#contacts-container .content .step3 #upload-action {
	    margin-top: 1%;
	}
}

@media (min-width: 1630px){

	#broadcast-controller .wizard .steps {

	    margin-left: 21%;
	}

	#broadcast-controller .wizard .steps::before {
	    width: 62%;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live {
	    width: 33.5%;
	    left: 17.5%;
	    top: -.5em;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live .sms-text {
	    margin: 10px 5px;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .form-schedule {
	    margin-left: 26%;
	    width: 50%;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .divider:before {
	    left: 1.5em;
	}

	.contacts-wrapper #contacts-container .steps:before {
	    margin-left: 85px;
	}

	#contacts-container .content .step3 div.contact-container div.input-group input[type=text] {
	    height: 2.4em!important;
	}

	#contacts-container .content .step3 #upload_container #upload-rules {
	    margin-left: 23.333333%;
	}

	.contacts-wrapper #contacts-container .content {
	    min-height: 28em!important;
	}

	#broadcast-controller .wizard .steps ul li a span.steps-text{
		margin-left: 2.5em!important;
	}
}

@media (min-width: 1730px){

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live {
	    width: 31.1%;
	    left: 16.5%;
	    top: -.6em;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .divider:before {
	    left: 2em;
	}

	/*.ui-timepicker-wrapper {
	    left: 56.7em!important;
	}*/

	.ui-datepicker {
	    width: 17.7em;
	}

	.free-trial .content .step1 div.contact-container div.input-group input[type=text] {
	    height: 35px;
	}

	#broadcast-controller .wizard.free-trial .content .step2 .col-md-9{
		margin-left: 20.666667%;
	}

	.contacts-wrapper #contacts-container .steps:before {
	    margin-left: 92px;
	}

	.contacts-wrapper #contacts-container .steps ul li:nth-child(2) a .steps-text, .contacts-wrapper #contacts-container .steps ul li:last-child a .steps-text {
	    margin-left: 3em !important;
	}

	#contacts-container .content .step3 div.contact-container div.input-group input[type=text] {
	    height: 2.5em !important;
	}

	#contacts-container .content .step3 #upload_container #upload-rules {
	    margin-left: 25.333333%;
	}

	#broadcast-controller .wizard .steps ul li:last-child a span.steps-text {
	    margin-left: 4.5em !important;
	}
}

@media (min-width: 1930px){

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live {
	    width: 27.1%;
	    left: 15.1%;
	    top: -1.2em;
	}

	.ui-datepicker {
	    width: 17.3em;
	}

	/*.ui-timepicker-wrapper {
	    left: 61.7em !important;
	}*/

	#broadcast-controller .wizard .content .step3 .step3-container .form-schedule {
	    margin-left: 30%;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .divider:before {
	    left: 3em;
	}

	.contacts-wrapper #contacts-container .steps:before {
	    margin-left: 103px;
	}

	.contacts-wrapper #contacts-container .steps ul li a .steps-text {
	    margin-left: 2em !important;
	}

	.contacts-wrapper #contacts-container .steps ul li:nth-child(2) a .steps-text, .contacts-wrapper #contacts-container .steps ul li:last-child a .steps-text {
	    margin-left: 4em !important;
	}

	#contacts-container .content .step3 div.contact-container div.input-group input[type=text] {
	    height: 2.4em !important;
	}

	.contacts-wrapper #contacts-container .content {
	    min-height: 32em !important;
	}

	#contacts-container .content .step3 #upload_container #upload-rules {
	    margin-left: 27.333333%;
	}

	#broadcast-controller .wizard .steps ul li a span.steps-text {
	    margin-left: 4.5em !important;
	}
}

@media (min-width: 2600px){

	#broadcast-controller .wizard .steps {
	    margin-left: 21.8%;
	}

	#broadcast-controller .wizard .content .step1 .search{
		height:38px!important;
	}

	#broadcast-controller .wizard .content .step2 .col-md-9{
		margin-left: 22.666667%;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live {
	    width: 20%;
	    left: 12.5%;
	    top: -2.4em;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live .sms-text {
	    margin: 15px 7px;
	}

	#broadcast-controller .wizard .content .step3 .schedule-wrapper h4{
		margin: 0% 0% 1%!important;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .form-schedule {
	    margin-left: 35%;
	}

	.ui-timepicker-wrapper {
	    width: 18.2em !important;
	}

	.ui-datepicker {
	    width: 18.2em;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .divider:before {
	    left: 6em;
	}

	.header .container-fluid #header-content .navbar-nav {
	    margin-left: -3% !important;
	}

	#broadcast-controller .wizard .content .step2 .col-md-9 {
	    margin-left: 24.666667%;
	}

	#contacts-container .steps {
	    margin-left: 7%;
	}

	.contacts-wrapper #contacts-container .steps:before {
	    margin-left: 130px;
	}

	.contacts-wrapper #contacts-container .steps ul li a .steps-text {
	    margin-left: 5em !important;
	}

	.contacts-wrapper #contacts-container .steps ul li:nth-child(2) a .steps-text {
	    margin-left: 6em !important;
	}

	.contacts-wrapper #contacts-container .steps ul li:last-child a .steps-text{
		margin-left: 8em!important;
	}

	#contacts-container .content .step3 div.contact-container div.input-group input[type=text] {
	    height: 2.5em !important;
	}

	.contacts-wrapper #contacts-container .content {
	    min-height: 37em !important;
	}

	#contacts-container .content .step3 #upload_container #upload-rules {
	    margin-left: 32.333333%;
	}

	#broadcast-controller .wizard .steps ul li a span.steps-text {
	    margin-left: 6.6em !important;
	}

	#broadcast-controller .wizard .steps ul li:last-child a span.steps-text {
	    margin-left: 9.5em !important;
	}
}

@media (min-width: 3900px){

	#broadcast-controller .wizard .steps:before{
		height: 3px;
		width: 62%;
	    margin-left: 9%;
	}

	.free-trial .content .step1 div.contact-container div.input-group input[type=text] {
	    height: 41px;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live {
	    width: 13%;
	    left: 10%;
	    top: -3.5em;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live .sms-text {
	    margin: 20px 7px;
	}

	.header .container-fluid #header-content .navbar-nav {
	    margin-left: -2% !important;
	}

	.contacts-wrapper #contacts-container .steps:before {
	    margin-left: 195px;
	    height: 3px;
	}

	#contacts-container .content .step3 div.contact-container div.input-group input[type=text] {
	    height: 2.4em !important;
	}

	.contacts-wrapper #contacts-container .content {
	    min-height: 41em !important;
	}

	#contacts-container .content .step3 #upload_container #upload-rules {
	    margin-left: 34.333333%;
	}

	#contacts-container .content .step3 #upload_container #upload-file-label .kast-btn-contacts{
		max-width: 100%!important;
	}
}

@media (min-width: 5200px){

	#broadcast-controller .wizard .steps:before{
		height: 4px;
		width: 62%;
	    margin-left: 9%;
	    margin-top: 35px;
	}

	.free-trial .content .step1 div.contact-container div.input-group input[type=text] {
	    height: 52px;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container:before {
    	background-size: 630px 100% !important;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live {
	    width: 14.4%;
	    left: 10.3%;
	    top: -3.0em;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live .message-sender-id {
	    margin-top: 0em;
	}

	#broadcast-controller .wizard .content .step2 .content-right .message-container .broadcast-live .sms-text {
	    margin: 32px 7px;
	    width: 250px;
	}

	.contacts-wrapper #contacts-container .steps:before {
	    margin-left: 256px;
	    height: 4px;
	    margin-top: 36px;
	}

	#contacts-container .content .step3 div.contact-container div.input-group input[type=text] {
	    height: 2.2em !important;
	}

	#broadcast-controller .wizard .content .step1 .search {
	    height: 43px !important;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .form-schedule {
	    width: 30%;
	    margin-left: 42%;
	}

	#broadcast-controller .wizard .content .step3 .step3-container .divider {
	    margin-left: 8.5%;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.modal-summary div.summary-wrapper div.btns button.btn-back {
    	padding: 5px 33px;
	}

	.modal-summary div.summary-wrapper div.btns {
	    margin-left: 17%;
	}
}

/*@media (min-width: 1600px){

	.toggled .broadcast-container .content .step2 div.content-right div.message-container div.broadcast-live {
	    left: 15.8%;
	    margin-top: 7%;
	}

	.toggled .broadcast-container .content .step2 div.content-right div.message-container div.broadcast-live p.message-sender-id {
	    margin-top: 10px;
	    width: 65%;
	    margin-left: 1%;
	}
}

@media (min-width: 1700px){

	.toggled .broadcast-container .content .step2 div.content-right div.message-container div.message-text {
	    left: 20.8%;
	    margin-top: 6.8%;
	}

	.toggled .broadcast-container .content .step2 div.content-right div.message-container div.message-text p.message-sender-id {
	    margin-left: -20%;
	    margin-top: 10px;
	}
}

@media (min-width: 1900px){
	.toggled .broadcast-container .content .step2 div.content-right div.message-container div.message-text {
	    left: 22.8%;
	    margin-top: 5.8%;
	}

	.toggled .broadcast-container .content .step2 div.content-right div.message-container div.message-text p.message-sender-id {
	    margin-left: -28%;
	    margin-top: 10px;
	}
}*/
