@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Book.ttf'), url('../fonts/Gotham/Gotham-Book 2.ttf'), url('../fonts/Gotham/GothamRounded-Book.otf');
}
@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/Gotham/Gotham-Bold 2.ttf'), url('../fonts/Gotham/Gotham-Bold.ttf');
    font-weight: bold;
}
body {
	overflow-x: hidden;
	font-family: 'Gotham';
	background: #F2F0F0;
  	background-size: 100% 100%;
}

body.inner-page {
    background: transparent url('../images/dashboard-bg.png');
    background-size: cover;
    height: auto;
}

.text-muted {
	font-family: 'Gotham';
}

#homepage-banner {
    margin: 2em auto 0;
    position: relative;
}

#home-macbook {
    z-index: 6;
    max-width: 50%;
}

#home-pen,
#home-plant,
#home-coffee,
#home-phone,
#home-notebook {
    position: absolute;
}

#home-plant {
    z-index: 2;
    top: -72px;
    right: -84px;
    max-width: 360px;
}

#home-pen {
    z-index: 1;
    max-width: 42px;
    bottom: 96px;
    right: 240px;
}

#home-notebook {
    z-index: 5;
    bottom: 0;
    right: -24px;
    max-width: 240px;
}

#home-coffee {
    z-index: 4;
    left: 0;
    max-width: 165px;
    top: 20px;
}

#home-phone {
    z-index: 3;
    max-width: 144px;
    bottom: 12px;
    left: 96px;
}

a:focus,
a:hover,
i:focus,
i:hover {
	cursor: pointer;
}
.img-responsive {
	display: inline-block !important;
}
.img-med {
	max-width: 60%;
	min-width: 300px;
}
.btn {
    text-transform: uppercase;
}
.div-med {
	max-width: 90%;
	margin: 0 auto;
}
a,
button,
input[type="button"],
input[type="submit"] {
	font-family: 'GothamBold';
	transition: all 0.75s ease;
}
button {
	text-transform: uppercase;
}
a:focus,
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'GothamBold';
}
.parallax-window {
	background-size: 100% 100%;
}
.spacer {
	padding: 24%;
}
ul {
	list-style: none;
	text-align: left;
	padding-left: 1em;
}
#header-navigation-sticky-wrapper {
	z-index: 990;
	position: relative;
}
#header-navigation {
	margin: 0 !important;
	padding: 0 1em !important;
	background: rgba(242, 240, 240, 0.75);
}
.inner-page #header-navigation {
	/*border-bottom: 3px solid #50759A;*/
	background: rgba(255, 255, 255, 1);
}
#canvas {
	margin: 0;
	padding: 0;
	clear: both;
	height: auto;
	overflow: hidden;
	background: transparent;
}
#kast-logo {
	max-height: 50px;
}
.header-link {
	margin: 0 1em;
	display: inline-block;
}
#menu, #navs, #login {
    font-size: 15px;
    line-height: 200%;
	padding: 3rem 1em;
    font-family: 'GothamBold';
}
#menu ul li a,
#login ul li a,
.fa-times-circle {
	color: #CCD;
}
#menu ul li,
#login ul li {
	padding: 1em 0 0;
}
.fa-times-circle {
	font-size: 22px;
	transition: all 0.75s ease;
}
#menu,
#login {
	z-index: 999;
	min-width: 300px;
	background: #50759A;
}
#icn-login {
	max-width: 80%;
}
#login p span {
	text-transform: uppercase;
}
.fa-times-circle:focus,
.fa-times-circle:hover,
#menu ul li a:focus,
#menu ul li a:hover,
#login ul li a:focus,
#login ul li a:hover {
	color: white;
	text-shadow: 1px 1px 1px #331;
}
.fa-bars {
    color: #50759A;
    font-size: 24px;
    margin-left: 1em;
	font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}
#social-media-list li a {
	margin: 0 5px;
	font-size: 36px;
}
#social-media-list li a:focus,
#social-media-list li a:hover {
	color: #B8E3E6 !important;
	text-shadow: 1px 1px 1px #331;
}

#first-main a {
	color: #5F9EAF;
	font-family: 'GothamBold';
}
.h2-kast,
#first-main h2 {
	color: #474747;
	font-size: 40px;
	margin-bottom: 0.5em;
}
#first-main a:focus,
#first-main a:hover {
	color: #337ab7;
}
.first-main-icons li {
	margin: 1em 1.5em;
}
.first-main-icons .icn,
.first-main-icons .icn:focus,
.first-main-icons .icn:hover {
	width: 48px;
	height: 48px;
	display: inline-block;
}
.carousel-indicators {
    left: 1%;
    z-index: 15;
    padding: 0.5em;
    position: fixed;
    max-height: 82px;
    min-width: 36px;
    list-style: none;
    text-align: center;
    top: 36% !important;
    width: 3% !important;
    height: auto !important;
    margin-left: 0 !important;
    background: rgba(200, 200, 200, 0.5);
    box-shadow: 0 0 10px #AAB;
    -o-box-shadow: 0 0 10px #AAB;
    -ms-box-shadow: 0 0 10px #AAB;
    -moz-box-shadow: 0 0 10px #AAB;
    -webkit-box-shadow: 0 0 10px #AAB;
}
.carousel-indicators li,
.carousel-indicators .active {
	width: 15px !important;
	height: 15px !important;
	margin: 2px 0 2px !important;

	border-radius: 50% !important;
	-o-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
}
.carousel-indicators li {
	background-color: white !important;
}
.carousel-indicators .active {
	border: 1px solid #50759A !important;
	background-color: #50759A !important;
}
#second-main {
	background-image: url('../images/home-process.png');
	background-position: -24% center;
	background-repeat: no-repeat;
	background-size: 48% 75%;
}
#second-main {
	padding: 6% 0;
}

#second-main .btn-kast {
	font-size: 1.5em;
}

#second-main h2 {
	padding: 5% 0 3%;
}

#second-main h2 span {
	color: #50759A;
}
.btn-kast {
	margin-bottom: 3em;
}
.btn-kast,
.btn-kast-3 {
	background: #62A6AE;
	border: 1px solid #62A6AE;
	font-family: 'GothamBold';
}
.btn-kast-3 {
	padding: 1em;
	color: white;
	width: 100%;
	display: inline-block;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.btn-kast-2 {
	background: #62A6AE;
	font-family: 'GothamBold';
	border: 1px solid #51959D;
}
.btn-kast-2:focus,
.btn-kast-2:hover {
	color: white;
	background: #51959D;
	border: 1px solid #51959D;
	text-shadow: 1px 1px 1px #335;
}
.forgot {
	color: white;
}
.forgot:focus,
.forgot:hover {
	color: #B8E3E6;
}
.btn-kast,
.btn-kast-2 {
	color: white;
	padding: 1em 2em;
	min-width: 200px;
	display: inline-block;

	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.btn-kast:focus,
.btn-kast:hover,
.btn-kast-3:focus,
.btn-kast-3:hover {
	color: white;
	background: #62A6AE;
	border: 1px solid #62A6AE;
	opacity: 0.8;
	text-shadow: 1px 1px 1px #335;
}
#phone-check-text {
	left: 22%;
	bottom: 12%;
	color: #B8E3E6;
	position: absolute;
	width: 144px;
}
#third-main,
#fourth-main {
	padding: 3% 0;
	color: #50759A;
}
#third-main .pie-chart,
#fourth-main .pie-chart {
	max-width: 360px;
}
.testimony-rate {
	font-size: 30px;
	margin-top: 1em;
	padding-top: 1em;
	text-shadow: 0 -1px 1px black;
}
.testimony-title {
	padding: 0 3em;
}
.testimony-title,
.testimony-author {
	min-width: 300px;
	font-weight: normal;
	font-family: 'Gotham';
}
#third-main strong,
#fourth-main strong {
	font-family: 'GothamBold';
}
.testimony-author {
	padding: 0 8em;
}
#third-main h2,
#fourth-main h2 {
	margin: 3em 0;
}
#third-main #third-special,
#fourth-main #fourth-special {
	padding: 0;
}
#vertical-bars {
	min-width: 200px;
	max-width: 460px;
	margin-left: 3em;
    transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}
.bars,
.progress {
  height: 8px;
}
.progress {
	background: none;
	margin-bottom: 15px;
	border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.bars {
    height: 8px;
    transition: none !important;
    -webkit-transition: none !important;
}
.progress-bar1,
.progress-bar3,
.progress-bar5,
.progress-bar7,
.progress-bar9,
.progress-bar11 {
	background: gold;
}
.progress-bar2,
.progress-bar4,
.progress-bar6,
.progress-bar8,
.progress-bar10,
.progress-bar12 {
	background: #5F9EAF;
}
.progress.even {
	margin-bottom: 30px;
}
#rt-logo {
	max-width: 100px;
	margin: 1.5em auto 0.5em;
	display: inline-block;
}
footer {
	background: #50759A url('../images/footer-effect.png');
	background-size: 100% 100%;
}
.inner-page footer {
    width: 100%;
    bottom: 0;
    /*position: fixed;*/
}
.kast-form h3,
#registration-form-container h3 {
	color: #50759A;
	margin: 1.5em 0;
}
.inner-page .h2-kast {
	color: #50759A;
	margin: 1em 0 0.5em;
	text-transform: uppercase;
	font-size: 30px !important;
}
.kast-link,
#registration-form-container a {
	color: #5F9EAF;
}
.modal-footer,
.modal-header {
	border: none;
}
.h4-kast {
	color: #50759A;
}
.modal-footer {
	padding: 0 0 1em !important;
	text-align: center !important;
}
.modal-body {
	padding: 0 !important;
}
.modal-body p span {
	color: #50759A;
}
#registration-form-container a:focus,
#registration-form-container a:hover {
	color: #50759A;
}
#verification-form {
	margin: 0 auto;
}
#successModal .fa-check-circle {
	font-size: 16em;
	line-height: 75%;
	margin-top: 0.15em;
	color: #9CC7CD;
}
input.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
}
label.error {
    color: #8a1f11;
    text-align: center !important;
}
label.error {
    display: block;
    width: 90%;
    margin: 0 auto;
}
.kast-form .form-control {
    width: 90% !important;
    display: inline-block !important;
}
.kast-form .fa {
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    text-shadow: none;
    transition: none;
    min-width: 18.84px;
    min-height: 24px;
}
.kast-form .fa-times-circle,
.kast-form .fa-times-circle a:focus,
.kast-form .fa-times-circle a:hover {
    color: #8a1f11;
}
.kast-form .fa-check-circle,
.kast-form .fa-check-circle a:focus,
.kast-form .fa-check-circle a:hover {
    color: green;
}
.btn[disabled] {
    background: #999;
    text-shadow: none;
    border: 1px solid #999;
}
#login label.error {
    font-size: 12px;
    background: #FEE;
    border: 1px solid #8a1f11;
    font-family: 'Gotham';
    padding: 1em;
    margin: 0 auto 1em;
    line-height: 120%;
}
.page {
    /*background: transparent url('../images/dashboard-bg.png');
    background-size: 100% 100%;*/
}
.ninety {
    width: 90%;
}
#footer-relative {
    position: relative !important;
}
@media (max-width: 768px) {
	.text-center-xs {
		text-align: center !important;
	}

	#second-main {
		background: none;
	}

	#header-navigation {
		background: white;
	}
}

.link-disabled,
.link-disabled:focus,
.link-disabled:hover,
.link-disabled:active {
    color: #BBB;
    cursor: not-allowed;
}

.verification-confirm {
    color: green;
    border: 2px solid #9E9;
    padding: 0.5em;
    font-family: 'GothamBold';
    background: #EFE;
    margin-bottom: 0;
    display: none;
}

#tupp-label {
    position: relative;
    padding-left: 15px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
}

#tupp-label #tupp {
    position: absolute;
    left: -0.5em;
}

#tuppModal p {
    margin: 1em 2em;
    text-align: justify;
}

#tuppModal .modal-title em {
    font-family: 'Gotham';
    font-size: 15px;
}

#tuppModal strong {
    font-family: 'GothamBold';
}

#tuppModal ul {
    padding-left: 30px;
    margin: 1em 2em;
    list-style: disc;
}

#tuppModal ul li {
    margin-bottom: 1em;
    text-align: justify;
}

#third-special ul li i{
	cursor: text;
}

.kast-text {
    color: #50759A;
}

ul.kast-bullets {
    display: inline-block;
    text-align: left;
    list-style: None;
}

ul.kast-bullets li span {
    color: #008000;
}

div.how-it-works p.arrow {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px 60px;
    color: #FFF;
    font-weight: bold;
}

div.how-it-works p.desc {
    padding: 0 15%;
}

div.how-it-works p.arrow-1 {
    background-image: url('../images/arrow-1.png');
}

div.how-it-works p.arrow-2 {
    background-image: url('../images/arrow-2.png');
}

div.how-it-works p.arrow-3 {
    background-image: url('../images/arrow-3.png');
}

div#countdown {
    font-size: 50px;
    color: #FFF;
}
