{% extends 'kast_base_templates/live_account_template.html' %}

{% load humanize %}

{% block custom_styles %}
<link rel="stylesheet" type="text/css" href="/static/css/custom_stylesheet.css">
<link rel="stylesheet" type="text/css" href="/static/css/custom_styles_ext.css">

<link rel="stylesheet" type="text/css" href="/static/css/contacts.css" />
<link rel="stylesheet" type="text/css" href="/static/css/file_upload.css" />
{% endblock %}

{% block content %}
   <!-- content body start -->
    <div class="container-fluid main-wrapper" role="main">
        <div class="wrapper toggled">
            <!-- <div class="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li><a class="menu-my-campaigns" href="my-campaigns.html">My Campaigns</a></li>
                    <li><a class="menu-sms-bcast" href="sms-broadcast-live.html">SMS Broadcast</a></li>
                    <li><a class="menu-video-bcast" href="video-broadcast.html">Video Broadcast</a></li>
                    <li><a class="menu-sms-feedback" href="feedback-dashboard.html">SMS Feedback</a></li>
                    <li><a class="menu-sms-promo" href="promos.html">SMS Promo</a></li>
                    <li><a class="menu-load-transfer" href="javascript:void(0)">SMS Load Transfer</a></li>
                    <li><a class="menu-sms-community" href="community.html">SMS Community</a></li>
                </ul>
            </div>
            <a href="#menu-toggler" class="btn btn-toggler" id="menu-toggler">||</a> -->
            <div class="page-content-wrapper">
                <div class="container-fluid contacts-wrapper" style="padding-top: 5px;padding-bottom:3em;">
                    <div class="col-md-5 col-sm-5 contact-group-container">
                        <h3 style="color: #41799b;margin-left: 10%;">Contacts</h3>
                        <div class="input-group paddingLR" style="margin-left: 10%;width: 80%;margin-bottom: 20px;">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-search-groups" style="outline: none;transition: none;">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                              </span>
                          <input type="text" class="form-control" id="inputString" placeholder="Search Contacts...">
                        </div>
                        <div class="contacts-main">
                                {% if contact_groups %}
                                    <ul class="list-group contact-groups" style="padding-right: 10px;" id="myUL">
                                        {% for contact in contact_groups %}
                                            <li class="list-group-item">
                                                <h4 title="{{contact.name}}" data-id="{{contact.id}}" class="btn-tooltip" style="cursor: pointer;">{{contact.name|truncatechars_html:35}}</h4>
                                                <span class="content-body" style="font-size: 14px;">Base: {{contact.base_count | intcomma}}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p id="contact-placeholder" class="text-center">
                                        No contact groups yet.
                                    </p>
                                {% endif %}
                        </div>
                        <div style="{%if contact_groups|length >= 5%}display:block;{%else%}display:none;{%endif%}width: 100%;float: left;margin-left: 10%;">
                            <button class="btn btn-primary act_load_more" id="loadMore">Load More</button>
                        </div>
                    </div>
                    <div ng-controller="Ctrl" id="contacts-controller" class="col-md-7 nopaddingR col-sm-7">
                        <form id="contacts-container" enctype="multipart/form-data" class="broadcast-container" style="display:none;margin-left: 1% 0% !important"  wizard step-changing="stepChanging" body-tag="section">
                            <h1><strong>Set your group name</strong></h1>
                            <section class="step1">
                                <div class="col-md-12 contact-group-wrapper">
                                    <h4 class="contact-header">Contact Group Name</h4>
                                    <input type="type" name="contacts_name" id="contacts_name" placeholder="Type desired group name here" maxlength="50" class="form-control" />
                                    {% csrf_token %}
                                </div>
                            </section>
                            <h1><strong>Choose method</strong></h1>
                            <section class="step2">
                                <div class="col-md-6 col-sm-6 content-left">
                                    <label>
                                        <input type="radio" name="choose_method" value="type_method" id="type_method">
                                        <img src="/static/images/add_contacts_manually.png">
                                        <p>Type each contact</p>
                                    </label>
                                </div>
                                <div class="col-md-6 col-sm-6 content-right">
                                    <label>
                                        <input type="radio" name="choose_method" value="upload_method" id="upload_method">
                                        <img src="/static/images/upload_contacts.png">
                                        <p>Upload file</p>
                                    </label>
                                </div>
                                <div style="width: 100%;float: left;color: #8a1f11;font-weight: 700;font-size: 13px;" class="method-error"></div>
                            </section>
                            <h1><strong>Choose your contacts</strong></h1>
                            <section class="step3">
                                <div class="upload-contacts" id="upload_container">

                                        <div class="col-md-12 no-padding text-center">

                                <input type="file" id="upload_file" class="inputfile inputfile-5" name="contacts_file" />

                                <div id="upload-rules">
                                    <p><img src="/static/images/checkboc.png"> Required mobile # format 639XXXXXXXXX, 09XXXXXXXXX, 9XXXXXXXXX</p>
                                    <p><img src="/static/images/checkboc.png"> Accepted file format xls, csv, xlsx</p>
                                    <p><img src="/static/images/checkboc.png"> Maximum of 30MB file size</p>
                                </div>
                                <label for="upload_file" id="upload-file-label" style="outline: none;">
                                    <em class="btn btn-default btn-block kast-btn-contacts">Upload Contacts</em> <br />
                                </label>
                                <span class="file-label" style="display: none;margin: -0.25em 0 0;">File: <span class="file-text"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-remove-circle remove-upload" style="cursor: pointer;"></span></span>
                                <span class="file-error error" style="width: 100%;float: left;color: #8a1f11;font-weight: 700;font-size: 13px;"></span>
                                        </div>
                                        <div id="upload-action" class="col-md-12 text-center">
                                            <a href="/static/vendor/KAST_Contacts_Template.xlsx" download class="dl-tmpl btn-block"><img src="/static/images/file-download.png" class="img-responsive">
                                            <br>
                                            Download formatted template
                                            </a>
                                        </div>
                                    </div>
                                    <div id="type_container" style="display: none;">
                                        <div class="col-md-12">
                                            <div class="col-md-9 col-md-offset-2 contact-container">
                                                <h4 style="text-align:center;" class="contact-header">Enter Contacts</h4>
                                                <div class="input-group add-contact-input">
                                                  <input type="text" class="form-control" ng-model="model.contact_number" name="contact_number" id="contact_number" placeholder="Formats: 639xxxxxxxx, 09xxxxxxxxx or 9xxxxxxxxx">
                                                  <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-add-contact" type="button">ADD</button>
                                                  </span>
                                                </div><!-- /input-group -->
                                                <div class="contact-group-error"></div>
                                                <div class="added-numbers"> <!-- add "disabled" class if there's no number added -->
                                                    <p class="no-contacts">No contacts yet.</p>
                                                    <div class="added-container with-contacts" style="display:none;">
                                                        <ul class="list-group"></ul>
                                                    </div>
                                                    <div class="total-contacts col-md-12">
                                                        <span class="total-counter">Total contacts: <span class="counter">0</span></span>
                                                    </div>
                                                    <input type="hidden" name="contacts_form" id="contacts_form" />
                                                    <span class="type-error error" style="width: 100%;float: left;color: #8a1f11;font-weight: 700;font-size: 13px;margin-top: 10px;"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </section>
                        </form>

                        <!-- modal contact group error -->
                        <div class="modal fade modal-summary" id="contact-group-warning" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body summary-wrapper" style="padding:0px;">
                                        <h3>CONTACT GROUP ERROR</h3>
                                        <img src="/static/images/ic-warning-upload.png" class="img-responsive">
                                        <p style="padding:20px;margin-bottom:0;">Here is a summary of your file:<br>
                                        Valid - <span id="num-valid"></span><br>
                                        Invalid - <span id="num-invalid"></span></p>
                                        <p>
                                            <a href="#" class="btn btn-link btn-download-invalid">Download invalid contacts</a>
                                        </p>
                                        <div class="btns">
                                            <button class="btn btn-default btn-back" style="padding: 7px 50px;" data-dismiss="modal">CANCEL</button>
                                            <button class="btn btn-default btn-confirm btn-confirm-delete btn-proceed-upload" style="padding: 7px 30px;">PROCEED TO UPLOAD</button>
                                        </div>
                                        <div id="upload-errors" class="error-text" style="margin-bottom: 20px;display: none;"></div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!-- modal contact group error end -->

                        <!-- modal save success -->
                        <div class="modal fade modal-summary" id="save-success" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body summary-wrapper">
                                        <h3 style="color: #41799b;">UPLOAD SUMMARY</h3>
                                        <img src="/static/images/Success-check.png" class="img-responsive" style="margin-bottom:10px;">
                                        <div class="panel panel-default base-type">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Base File</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p class="base-file"></p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Contact Group</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p class="contact-group"></p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Total Base Count</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p class="contact-base-count"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btns">
                                        <button class="btn btn-default btn-confirm" onclick="window.location = '/contacts'">OK</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!-- modal save success end -->

                    </div><!-- content -->
                </div><!-- container-fluid -->
            </div><!-- page-content-wrapper -->
        </div><!-- wrapper -->
    </div><!-- content body end -->
{% endblock %}

{%block custom_scripts%}
<!-- <script type="text/javascript" src="/static/js/file_upload.js"></script> -->
<script src="https://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/contacts-script.js"></script>
{% endblock %}

