<!-- HEADER FOR GUEST(S) -->
<!doctype html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KAST</title>
        <meta name="description" content="KAST">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles_main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navs.css">
        <link rel="stylesheet" type="text/css" href="/static/css/forgot-password.css" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108510484-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-108510484-1');
        </script>
    </head>
    <body class="inner-page">

	<!-- HEADER GUEST -->
        <nav id="header-navigation" class="navbar navbar-default header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">
                        <img src="/static/images/kast-sm.png" class="img-responsive">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="header-content">
                    <ul class="nav navbar-nav nav-left">
                        <li><a href="/faqs">FAQs</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right guest-header" style="background:none!important">
                        <li><a href="/login" class="btn btn-primary btn-homepage-header login">Log In</a></li>
                        <li><a href="/register/trial" class="btn btn-primary btn-homepage-header register">Register</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- END HEADER GUEST -->

        <!-- FORGOT PASSWORD PAGE -->
        <div id="forgot-password">
            <div class="container">
                <h2 class="h2-kast text-center">Forgot Your Password?</h2>
                <form method="POST" data-toggle="validator" id="forgot-password-form" class="kast-form">
                    <div class="row">
                        <div class="col-sm-6 text-right text-center-xs">
                            <img src="/static/images/lock-forgotpassword.png" alt="Padlock" class="img-med img-responsive" />
                        </div>
                        <div class="col-sm-6 text-left text-center-xs">
		            <h3 class="text-center">Please enter your <br />new password</h3>
                            <div class="form-group div-med">
                                <input type="password" id="npassword" class="form-control text-center" name="npassword" placeholder="New Password" />
				<span class="fa"></span>
                            </div>
			    <br />
                            <div class="form-group div-med">
                                <input type="password" id="cpassword" class="form-control text-center" name="cpassword" placeholder="Confirm New Password" />
				<span class="fa"></span>
                            </div>
                            <div class="form-group div-med">
                                <input type="hidden" id="request_type" class="hidden" name="request_type" value="fpupdate" />
                            </div>
                            <div class="form-group div-med">
                                <input type="hidden" id="uid" class="hidden" name="uid" value={{ p_uid }} />
                            </div>
			    <div class="form-group text-center">
				<br />
				<input type="submit" value="Save" class="btn btn-kast btn-submit" disabled />
			    </div>
                         </div>
                     </div>
                </form>
            </div>
        </div>
        <!-- END OF FORGOT PASSWORD PAGE -->

        <!-- FOOTER FOR GUEST(s) -->

        <!-- MODAL AFTER SUCCESSFUL INPUT -->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="text-center">
			    <br />
			    <img src="/static/images/success.png" alt="Success" class="img-responsive" />
                        </p>
                    </div>
                    <div class="modal-body">
                        <h4 class="h4-kast text-center">
                            SUCCESS! 
                        </h4>
                        <p class="text-center">
			    You have changed your KAST account password.
                        </p>
			<br />
                    </div>
                    <div class="modal-footer">
                        <a href="/login" class="btn btn-kast">OK</a><br />
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL AFTER SUCCESSFUL INPUT -->

        <!-- JQUERY LIBRARY -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <!-- EXTERNAL SCRIPTS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
        <script src="/static/js/slidebars.js"></script>
        <script src="/static/js/slidebars.scripts.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>

        <!-- CUSTOM SCRIPTS -->
        <script type="text/javascript" src="/static/js/confirm-password.js"></script>
    </body>
</html>
<!-- END FOOTER FOR GUEST(s) -->
