<!-- HEADER FOR GUEST(S) -->
<!doctype html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KAST</title>
        <meta name="description" content="KAST">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/static/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles_main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navs.css">
        <style type="text/css">
            .reg-live{
	        width: 60%;
	        margin: 7% 20%;
                text-align: center;
            }
        </style>
    </head>
    <body class="inner-page">

	<!-- HEADER FOR TRIAL -->
        <nav id="header-navigation" class="navbar navbar-default header">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">
                        <img src="/static/images/kast-sm.png" class="img-responsive">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="header-content">
                    <ul class="nav navbar-nav nav-left">
                        <li><a href="/faqs">FAQs</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right trial-header">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/ic-login.png"> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="text-center"><a href="/profile">My Profile</a></li>
                                <li class="text-center"><a href="/logout"><button type="button" class="btn btn-primary btn-logout">Logout</button></a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- END HEADER FOR TRIAL -->

        <!-- LIVE ACCOUNT PAGE -->
	<div id="registration" class="page" style="min-height: 38.888em;">
	    <div class="container">
		<div class="reg-live">
		    <form method="POST" data-toggle="validator" id="live-account-form">
			<h2 style="color:#50759A;">You're almost there!</h2>
			<p style="font-weight: 700;margin-top: 20px;">Hi {{ p_name }}! We just need your company name to proceed:</p>
			<div class="form-group" style="width: 50%;margin-left: 25%;margin-top: 4%;margin-bottom:4%;">
			    <input type="text" class="form-control text-center" name="company" id="company" placeholder="Enter Company Name" maxlength="50" />
		        </div>
		        <p style="font-size: 16px;color: #484343;margin-bottom: 20px;">Users under one company will have access to the same sender ID list, contact base and message templates.</p>
			<div class="form-group">
		            <input type="submit" value="Continue" class="btn btn-kast btn-submit" disabled />
			</div>
		    </form>
		</div>
	    </div>
	</div>
        <!-- END OF MAIN/LANDING PAGE -->

        <!-- FOOTER FOR GUEST(s) -->

        <!-- MODAL AFTER SUCCESSFUL REGISTRATION -->
        <div class="modal fade" id="liveAccountModal" tabindex="-1" role="dialog" aria-labelledby="liveAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="text-center">
			    <br />
                            <img src="/static/images/ic-go-activate.png" alt="Activate" class="img-responsive" />
                        </p>
                    </div>
                    <div class="modal-body">
                        <h4 class="h4-kast text-center">
                            We'll Give You a Call
                        </h4>
                        <p class="text-center">
                            A KAST representative will get in touch with you for<br />live account verification. The KAST representative will<br />activate your account.
                        </p>
                    </div>
                    <div class="modal-footer">
			<a href="/processing" class="btn btn-kast">OK</a> <br />
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL AFTER SUCCESSFUL REGISTRATION -->

        <!-- JQUERY LIBRARY -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <!-- EXTERNAL SCRIPTS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>

        <!-- CUSTOM SCRIPTS -->
        <script type="text/javascript" src="/static/js/live-account.js"></script>
    </body>
</html>
<!-- END FOOTER FOR GUEST(s) -->
