<!-- HEADER FOR ACCOUNT(S) -->
<!doctype html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KAST</title>
        <meta name="description" content="KAST">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/static/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles_main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navs.css">

	<!-- PAGE CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/account.css" />
    </head>
    <body class="inner-page">
	 <!-- HEADER LOGGED IN -->
	    <nav id="header-navigation" class="navbar navbar-default header">
		<div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="/dashboard">
	                    <img src="/static/images/kast-sm.png" class="img-responsive">
	                </a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="header-content">
                         {% if p_status == 'live' %}
	                 <ul id="live-nav" class="nav navbar-nav nav-left">
	                    <li><a href="/dashboard">Dashboard</a></li>
	                    <li><a href="/sender-id">Sender IDs</a></li>
	                    <li><a href="/contacts/">Contacts</a></li>
	                    <li><a href="/message-template">Message Templates</a></li>
	                 </ul>
                         <ul class="nav navbar-nav navbar-right">
                       <li style="margin-right: -10%;"><a href="/broadcasts/live" data-toggle="tooltip" data-placement="bottom" title="New Broadcast"><img src="/static/images/add-campaign.png" style="width: 60%;"></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/ic-login.png"> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="text-center"><a href="/profile">My Profile</a></li>
                               <li class="text-center"><a href="/logout"><button type="button" class="btn btn-primary btn-logout">Logout</button></a></li>
                            </ul>
                         </li>
                    </ul>
                         {% else %}
	                 <ul id="trial-nav" class="nav navbar-nav nav-left">
	                    <li><a href="/faqs">FAQs</a></li>
	                 </ul>
                         <ul class="nav navbar-nav navbar-right trial-header">
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/ic-login.png"> <span class="caret"></span></a>
                                 <ul class="dropdown-menu">
                                     <li class="text-center"><a href="/profile">My Profile</a></li>
                                     <li class="text-center"><a href="/logout"><button type="button" class="btn btn-primary btn-logout">Logout</button></a></li>
                                 </ul>
                             </li>
                         </ul>
                         {% endif %}
                           
	            </div><!-- /.navbar-collapse -->
	        </div><!-- /.container-fluid -->
	    </nav>
	<!-- END HEADER LOGGED IN -->
        <!-- END HEADER FOR TRIAL/LIVE -->

        <!-- PROFILE PAGE -->
	<div id="profile" class="page" style="margin-bottom: 4%;">
	    <!-- ACCOUNT PROCESSING MESSAGE: HIDE THIS SECTION IF TRIAL ACCOUNT IS NOT PROCESSING! -->
	    <p class="processing-message text-center hidden">Your live account verification is still in process.</p>
	    <!-- END OF ACCOUNT PROCESSING MESSAGE -->
	    <div class="container">
		<form method="POST" data-toggle="validator" id="account-form">
		    <div class="row">
			<h2 class="h2-kast text-center">My Profile</h2>

			<div id="registration-form" class="col-sm-6 col-md-offset-2 kast-form profile-form">
				<div class="form-group row">
				    <label for="name" class="profile-label col-sm-6 col-md-2">Name:</label>
				    <input type="text" class="profile-input text-center col-sm-6 col-md-offset-1" name="name" id="name" value='{{ p_name }}' />
				    <span class="fa"></span>
				</div>
				<div class="form-group row">
				    <label for="mobile" class="profile-label col-sm-6 col-md-2">Phone:</label>
				    <input type="text" class="profile-input text-center col-sm-6 col-md-offset-1" name="mobile" id="mobile" value='{{ p_mobile }}' maxlength="12" />
				    <span class="fa"></span>
				</div>
				<div class="form-group row">
				    <label for="email" class="profile-label col-sm-6 col-md-2">Email:</label>
				    <input type="email" class="profile-input text-center col-sm-6 col-md-offset-1" name="email" id="email" value='{{ p_email }}' disabled />
				    <span class="fa"></span>
				</div>
				<div class="form-group row">
				    <label for="company" class="profile-label col-sm-6 col-md-2">Company:</label>
				    <input type="text" class="profile-input text-center col-sm-6 col-md-offset-1" name="company" id="company" value='{{ p_company }}' disabled />
				    <span class="fa"></span>
				</div>
				<div class="form-group row">
				    <label for="password" class="profile-label col-sm-6 col-md-2">Password:</label>
					<input type="password" class="profile-input col-md-6 col-md-offset-1 text-center hidden" name="opassword" id="opassword" placeholder="Old password" />
				    <p class="profile-label text-center col-sm-8">
					<a href="javascript:void(0)" class="btn btn-primary btn-edit">CHANGE PASSWORD</a>
				    </p>
				</div>
				<div class="passwords">
				    <div class="form-group row">
					<input type="password" class="profile-input col-md-6 col-md-offset-3 text-center" name="npassword" id="npassword" placeholder="New password" />
				   </div>
				   <div class="form-group row">
					<input type="password" class="profile-input col-md-6 col-md-offset-3 text-center" name="cpassword" id="cpassword" placeholder="Confirm new password" />
				   </div>
			 	   <input type="hidden" id="account-status" name="status" value="{{ p_status }}" />
				</div>
			    </div>

			<div class="col-sm-6 col-md-3 text-center">
			    <p>&nbsp;</p>

			    <p class="text-center">
				<img src="/static/images/ic-login.png" alt="Profile" class="img-account" />
				<br />
				<strong>Enjoy KAST without the limits!</strong>
				<br />
				<a href="/register" class="registration-link hidden">go live now!</a>
			    </p>
			</div>
		    </div>
		    <br />
		    <div class="row text-center">
			<input type="submit" value="Save Changes" class="btn btn-kast btn-submit" />
		    </div>
		</form>
	    </div>
	</div>
        <!-- END PROFILE PAGE -->

        <!-- FOOTER FOR GUEST(s) -->
        {% if p_status == 'live' %}
            <footer class="footer-live">
                <div class="container">
                    <div class="col-md-6 footer-left">
                        <div id="footer-bar">
                             <nav>
                                  <ul>
                                   <li><a href="/faqs">FAQs</a></li>
                                   <li class="divider-footer">|</li>
                                   <li><a href="/broadcast-guide">How To</a></li>
                                  </ul>
                             </nav>
                         </div>
                    </div>
                </div>
            </footer>
        {% else %}


        {% endif %}

        <!-- SUCCESS MODAL -->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="text-center">
			    <br />
			    <img src="/static/images/success.png" alt="Success" class="img-responsive deatil-img" />
                        </p>
                    </div>
                    <div class="modal-body">
                        <h4 class="h4-kast text-center detail-header">
                           SUCCESS! 
                        </h4>
                        <p class="text-center details">
                            Your profile details have been updated
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="row text-center">
                            <button type="button" class="btn btn-kast btn-ok" data-dismiss="modal">OK</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!-- END SUCCESS MODAL -->

        <!-- error modal -->
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="text-center">
                <br />
                <img src="/static/images/ic-warning-upload.png" alt="Success" class="img-responsive" />
                        </p>
                    </div>
                    <div class="modal-body">
                        <h4 class="h4-kast text-center">
                           ERROR! 
                        </h4>
                        <p class="text-center details">
                            
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="row text-center">
                            <button type="button" class="btn btn-kast" data-dismiss="modal">OK</button>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!-- error  -->

        <!-- JQUERY LIBRARY -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        
        <!-- EXTERNAL SCRIPTS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>

        <!-- CUSTOM SCRIPTS -->
        <script type="text/javascript" src="/static/js/account.js"></script>  
    </body>
</html>
<!-- END FOOTER FOR GUEST(s) -->
