{% extends 'kast_base_templates/live/base_template.html' %}

{% block content %}
<div class="row user-form-container">
    <div class="col-lg-12">
        <div class="hpanel">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Details</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Permissions</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="nopaddingLR col-md-6 col-md-offset-3" style="padding-top: 1.5em;">
                            <form class="form-horizontal" id="user-form" method="post">
                                {%csrf_token%}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">First Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="firstname" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group dotted-divider">
                                    <hr />
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="lastname" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group dotted-divider">
                                    <hr />
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Email Address*</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group text-center" style="margin-top: 4em;">
                                    <button class="btn w-xs btn-gray" type="button" onclick="window.location = '/users/'">Cancel</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn w-xs btn-primary btn-save-user" type="submit">Save User</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="panel-title">
                                            <a href="javascript:;">
                                                BROADCAST
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4 class="panel-title">
                                            <a href="javascript:;">
                                                Collapsible Group Item #2
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <h4 class="panel-title">
                                            <a href="javascript:;">
                                                Collapsible Group Item #3
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- added user modal -->
<div class="modal fade" id="addedUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title" id="myModalLabel">Added New User</h4>
            </div>
            <div class="modal-body">
                <div class="row text-center successful-delete" style="padding: 2em 0;">
                    <div class="green-circle checkmark">
                        <i class="ion-checkmark"></i>
                    </div>
                    <p style="margin-top: 2em;">A new user has been sucessfully added.<br>Do you wish to proceed with adding task roles for this user?</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="action-btn">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">Maybe Later</button>
                    <button type="button" class="btn btn-primary btn-user-permissions" style="padding: .4em 2em;">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{%block custom_scripts%}
<script type="text/javascript" src="/static/scripts/customs/users-management.js"></script>
{% endblock %}