{% extends 'kast_base_templates/live/base_template.html' %}

{% block content %}
<div class="row users-management">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="nopaddingLR text-center no-users padding-top-6 col-md-6 col-md-offset-3" style="display: none;">
                	<div class="green-circle">
                		<i class="pe-7s-add-user"></i>
                	</div>
                	<h4 style="font-weight: 400;margin-top: 30px;">You don't have users yet. Add a user and assign its privileges to use KAST.</h4>
                </div>
                <form class="form-inline">
                    <div class="nopaddingLR col-lg-12">
                        <table id="dashboard-table" class="table table-striped table-bordered table-hover datatable" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Name</th>
                                    <th>E-mail</th>
                                    <th>Permissions</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Anna Batukaba</td>
                                    <td>annabato@gmail.com</td>
                                    <td>Broadcast, Subscriber Base</td>
                                    <td style="width: 150px;text-align: center;">
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                        <a href="#" class="btn btn-gray btn-xs delete-user"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- delete user modal -->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row text-center action-delete" style="display: none;">
                    <p style="padding: 3.5em 0;">Are you sure you want to delete this user?</p>
                </div>
                <div class="row text-center successful-delete" style="padding: 2em 0;">
                    <div class="green-circle checkmark">
                        <i class="ion-checkmark"></i>
                    </div>
                    <p style="margin-top: 2em;">The user has been successfully deleted.</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="action-btn">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary process-delete-user">Yes</button>
                </div>
                <div class="success-btn" style="display: none;">
                    <button type="button" class="btn btn-gray" onclick="window.location = '/users'">Okay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: delete user modal -->
{% endblock %}

{%block custom_scripts%}
<script type="text/javascript" src="/static/scripts/customs/users-management.js"></script>
{% endblock %}