<div style="background-color:#CCC; padding: 5px;">
	<div style="padding:10px; border-top: 5px solid #5F9EAF; margin-bottom: 5px; background-color:white;">
	    <img src="https://s3-ap-southeast-1.amazonaws.com/kastdev/kast-sm.png" title="KAST" alt="KAST" style="display:block" width="100" />
	</div>

	<div style="padding:10px; border-bottom: 5px solid #5F9EAF; background-color:white;">
		<p style="margin-bottom:20px;margin-top:20px;">Click this link to reset your password: {{confirmation_code}}</p>
	</div>
</div>

