<!doctype html>
<html class="no-js" lang="eng" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KAST</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="/static/css/normalize.min.css">
        <link rel="stylesheet" href="/static/css/main.min.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" />

        <!-- custom styles -->
        <link rel="stylesheet" href="/static/css/jquery.steps.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/toggle-switch.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles_main.css" media="all">
        <link rel="stylesheet" type="text/css" href="/static/css/timepicker.css">

        <link rel="stylesheet" type="text/css" href="/static/css/navs.css">
        <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">

        {% block custom_styles %}
        {% endblock %}
    </head>
    <body class="inner-page">
        <!-- HEADER LOGGED IN -->
        <nav id="header-navigation" class="navbar navbar-default header">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">
                        <img src="/static/images/kast-sm.png" class="img-responsive">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="header-content">
                    <ul class="nav navbar-nav nav-left">
                        <li class="{% if request.get_full_path = '/dashboard/' %}current{%endif%}"><a href="/dashboard">Campaigns</a></li>
                        <li class="{% if request.get_full_path = '/sender-id/' %}current{%endif%}"><a href="/sender-id">Sender IDs</a></li>
                        <li class="{% if request.get_full_path = '/contacts/' %}current{%endif%}"><a href="/contacts">Contacts</a></li>
                        <li class="{% if request.get_full_path = '/message-template/' %}current{%endif%}"><a href="/message-template">Message Templates</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                       <li style="margin-right: -10%;"><a href="/broadcasts/live" data-toggle="tooltip" data-placement="bottom" title="New Broadcast"><img src="/static/images/add-campaign.png" style="width: 60%;"></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/ic-login.png"> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="text-center"><a href="/profile">My Profile</a></li>
                               <li class="text-center"><a href="/logout"><button type="button" class="btn btn-primary btn-logout">Logout</button></a></li>
                            </ul>
                         </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- END HEADER LOGGED IN -->
        {% block content %}
        {% endblock %}
        <!-- <footer>
            <div class="container">
                <div class="footer-content">
                    <img src="/static/images/poweredby-RT.png">
                </div>
            </div>
        </footer> -->
        <footer class="footer-live">
            <div class="container">
                <div class="col-md-6 footer-left">
                    <div id="footer-bar">
                         <nav>
                              <ul>
                               <li><a href="/faqs">FAQs</a></li>
                               <li class="divider-footer">|</li>
                               <li><a href="/broadcast-guide">How To</a></li>
                              </ul> 
                         </nav>
                     </div>
                </div>  
            </div>
        </footer>
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.steps.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="/static/js/timepicker.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>
        <script src="/static/js/clipboard.min.js"></script>
        <script type="text/javascript" src="/static/js/loadingoverlay.min.js"></script>
        <script type="text/javascript" src="/static/js/loadingoverlay_progress.min.js"></script>
        <script src="/static/js/jspatch.js"></script>
        <script type="text/javascript" src="/static/js/date.js"></script>
        <script type="text/javascript" src="/static/js/ng-script.js"></script>
        <script type="text/javascript" src="/static/js/custom-script.js"></script>
        <script type="text/javascript" src="/static/js/ng-factory.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xregexp/3.1.1/xregexp-all.min.js"></script>
        {% block custom_scripts%}
        {% endblock%}

        <script type="text/javascript">
            $(document).ready(function(){
                /*console.log($(window).width());
                console.log($(window).height());*/
            });
        </script>
        
    </body>
</html>
