<!doctype html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KAST</title>
        <meta name="description" content="KAST">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/static/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles_main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navs.css">

    </head>
    <body class="inner-page">
        {% if user.is_authenticated %}
            <!-- HEADER FOR TRIAL -->
            <nav id="header-navigation" class="navbar navbar-default header">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/dashboard">
                            <img src="/static/images/kast-sm.png" class="img-responsive">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="header-content">
                        <ul class="nav navbar-nav nav-left">
                            <li><a href="/about-us">About KAST</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/faqs">FAQs</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right trial-header">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/ic-login.png"> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="text-center"><a href="/profile">My Profile</a></li>
                    <li class="text-center"><a href="/logout"><button type="button" class="btn btn-primary btn-logout">Logout</button></a></li>
                            </ul>
                         </li>
                    </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        {% else %}
        <!-- HEADER GUEST -->
        <nav id="header-navigation" class="navbar navbar-default header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">
                        <img src="/static/images/kast-sm.png" class="img-responsive">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="header-content">
                    <ul class="nav navbar-nav nav-left">
                        <li><a href="/about-us">About KAST</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right guest-header" style="background:none!important">
                        <li><a href="/login" class="btn btn-primary btn-homepage-header login">Log In</a></li>
                        <li><a href="/register/trial" class="btn btn-primary btn-homepage-header register">Register</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- END HEADER GUEST -->
        {% endif %}

            <!-- PAGE CONTENT -->
            <div id="process-live-account">
                <div class="container" style="width: 65%;margin-bottom: 10em;text-align: justify;">
                    <div class="row">
		        <h2 class="h2-kast text-center">About KAST</h2>
			<p style="text-indent: 3em;">KAST is a self-serve platform for SMS blasts or broadcasts, SMS promos, SMS community building, SMS video broadcasts,  and other SMS-related services. KAST helps brands and businesses connect with their customers by approaching them in a more direct, more personal way through making branded SMS available to everyone without the hassle and the high cost of technical set-up and integration.<br />
Using Kast is easy. You simply need to sign up for a monthly payable account and you can try all of the services KAST has to offer, affording you an accessible mobile channel for your business’ branded SMS needs. You can also sign up for a free trial account to test the different capabilities of KAST, with limited features.</p>
			<p style="text-indent: 3em;">KAST is a product of Rising Tide’s Switch, the products and business division that aims to create innovative technologies and business solutions for the modern day marketer. More importantly, Rising Tide’s Switch aspires to democratize digital marketing and mobile advertising. Like KAST, Rising Tide’s Switch makes sure that all their products are easy to use and can accommodate different budget schemes for a diverse range of business types.</p>
			<p style="text-indent: 3em;">Rising Tide is one of the fastest growing advertising technology companies in the Philippines. Rising Tide aims to create a new wave of great techxperiences for all. Rising Tide also provides A2P, API connectivity services for brands and businesses, as well as performance-based marketing and other digital solutions. For more information, you may visit <a href="http://www.risingtide.ph/" target="_balnk">RisingTide.ph</a>.</p>
                    </div>
                </div>
            </div>
	</div>
        <!-- END PAGE CONTENT -->

        <!-- FOOTER -->
        <footer>
            <div class="container">
                    <img src="/static/images/poweredby-RT.png" class="img-responsive footer-guest" alt="Rising Tide" />
            </div>
        </footer>
	   <!-- END FOOTER -->

        <!-- JQUERY LIBRARY -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <!-- EXTERNAL SCRIPTS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/static/js/slidebars.js"></script>
        <script src="/static/js/slidebars.scripts.js"></script>
	<script src="/static/js/jquery.sticky.js"></script>

        <!-- CUSTOM SCRIPTS -->
	<script type="text/javascript" src="/static/js/inner-pages.js"></script>
    </body>
</html>

