<!doctype html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KAST</title>
        <meta name="description" content="KAST">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/static/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/static/css/contact-us.css" />

        <link rel="stylesheet" type="text/css" href="/static/css/styles_main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navs.css">

    </head>
    <body class="inner-page">

        {% if user.is_authenticated %}
     	    <!-- HEADER FOR TRIAL -->
            <nav id="header-navigation" class="navbar navbar-default header">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/dashboard">
                            <img src="/static/images/kast-sm.png" class="img-responsive">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="header-content">
                        <ul class="nav navbar-nav nav-left">
                            <li><a href="/about-us">About KAST</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/faqs">FAQs</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right trial-header">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/images/ic-login.png"> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="text-center"><a href="/profile">My Profile</a></li>
                                    <li class="text-center"><a href="/logout"><button type="button" class="btn btn-primary btn-logout">Logout</button></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        <!-- END HEADER FOR TRIAL -->
        {% else %}
    	<!-- HEADER GUEST -->
        <nav id="header-navigation" class="navbar navbar-default header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-content" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">
                        <img src="/static/images/kast-sm.png" class="img-responsive">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="header-content">
                    <ul class="nav navbar-nav nav-left">
                        <li><a href="/about-us">About KAST</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right guest-header" style="background:none!important">
                        <li><a href="/login" class="btn btn-primary btn-homepage-header login">Log In</a></li>
                        <li><a href="/register/trial" class="btn btn-primary btn-homepage-header register">Register</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- END HEADER GUEST -->
        {% endif %}

            <!-- PAGE CONTENT -->
            <div id="contact-us-page" class="page">
		<div id="contact-banner">
		    <div class="container">
			<div class="row">
			    <div class="col-sm-4">
				<p id="megaphone-cont" class="text-center">
				    <img src="/static/images/img-megaphone.png" alt="MegaPhone" class="img-responsive" />
				</p>
			    </div>
			    <div class="col-sm-8">
				<h2 id="banner-header">We're all ears</h2>
				<p id="banner-text">
				    We love hearing your feedback
				    <img src="/static/images/ic-feedback.png" alt="Feedback" id="contact-feedback" class="img-responsive" />
				</p>
			    </div>
			</div>
		    </div>
		</div>
		<div id="contact-details" class="container">
		    <div class="row">
			<div id="details" class="col-md-offset-1 col-md-5 col-sm-6">
			    <!-- DETAILS HERE -->
			    <p class="text-right" style="margin-bottom:20px;">
				<img src="/static/images/img-logo.png" alt="KAST" class="img-responsive" style="max-width:240px" />
			    </p>
			    <dl class="row">
			        <dt class="col-sm-11 text-right">
  			            104 Rada st. HRC Center, Legaspi Village. Makati City
			        </dt>
			        <dd class="col-sm-1 text-center">
			            <span class="fa fa-map-marker"></span> 
			        </dd>
			    </dl>
			    <dl class="row">
			        <dt class="col-sm-11 text-right">
				    <a href="mailto:switch@risingtide.ph" target="_blank">switch@risingtide.ph</a>
			        </dt>
			        <dd class="col-sm-1 text-center">
			            <span class="fa fa-envelope"></span> 
			        </dd>
			    </dl>
			    <dl class="row">
			        <dt class="col-sm-11 text-right">
				    892-9932
			        </dt>
			        <dd class="col-sm-1 text-center">
			            <span class="fa fa-phone"></span> 
			        </dd>
			    </dl>
			</div>
			<div class="col-md-5 col-sm-6" style="padding-left:4em">
			    <!-- FORM HERE -->
			    <form method="post" id="contact-form" class="text-center">
				<div class="form-group">
				    <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" maxlength="60" />
				</div>
				<div class="form-group">
				    <input type="email" name="email" id="email" class="form-control" placeholder="Your Email Address" />
				</div>	
				<div class="form-group">
				    <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" />
				</div>	
				<div class="form-group">
				    <textarea class="form-control" placeholder="Your Message" row="12" id="message" name="message"></textarea>
				</div>	
				<button type="submit" class="btn btn-kast-2 btn-submit">SUBMIT</button>
			    <form>
			</div>
		    </div>			         
                </div>
		<div id="map-container"></div>
            </div>

        <!-- END PAGE CONTENT -->

        <!-- FOOTER -->
        <footer>
            <div class="container">
                    <img src="/static/images/poweredby-RT.png" class="img-responsive footer-guest" alt="Rising Tide" />
            </div>
        </footer>
        <!-- END FOOTER -->

	<!-- MODAL AFTER FORM SUBMIT -->
	<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
		<div class="modal-content">
		    <div class="modal-header">
			<p class="text-center">
			    <br />
			    <img src="/static/images/success.png" alt="SUCCESS" class="img-responsive" />
			</p>
		    </div>
		    <div class="modal-body">
			<h4 class="h4-kast text-center">
			   SUCCESS! 
			</h4>
			<p class="text-center">
			    Your request has been processed.
			</p>
		    </div>
		    <div class="modal-footer">
			<div class="row text-center">
			    <a href="/contact-us" class="btn btn-kast-2">OK</a>
			</div>
			<br />
		    </div>
		</div>
	    </div>
	</div>
	<!-- END MODAL AFTER FORM SUBMIT -->

        <!-- JQUERY LIBRARY -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <!-- EXTERNAL SCRIPTS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
	<!-- REMOVE THESE IF TRIAL -->
        {% if user.is_authenticated %}
        {% else %}
        <script src="/static/js/slidebars.js"></script>
        <script src="/static/js/slidebars.scripts.js"></script>
	<!-- END REMOVE THESE IF TRIAL -->
        {% endif %}
	<script src="/static/js/jquery.sticky.js"></script>

        <!-- CUSTOM SCRIPTS -->
        <script type="text/javascript" src="/static/js/inner-pages.js"></script>
        <script type="text/javascript" src="/static/js/contact-us.js"></script>
    </body>
</html>

