{% extends 'kast_base_templates/live_account_template.html' %}

{% block custom_styles %}
<link rel="stylesheet" type="text/css" href="/static/css/custom_stylesheet.css">
<link rel="stylesheet" type="text/css" href="/static/css/custom_styles_ext.css">
{% endblock %}

{% block content %}
        <!-- content body start -->
        <div class="container-fluid main-wrapper" role="main">
            <div class="wrapper toggled">
                <!-- <div class="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li><a class="menu-my-campaigns" href="my-campaigns.html">My Campaigns</a></li>
                        <li><a class="menu-sms-bcast" href="sms-broadcast-live.html">SMS Broadcast</a></li>
                        <li><a class="menu-video-bcast" href="video-broadcast.html">Video Broadcast</a></li>
                        <li><a class="menu-sms-feedback" href="feedback-dashboard.html">SMS Feedback</a></li>
                        <li><a class="menu-sms-promo" href="promos.html">SMS Promo</a></li>
                        <li><a class="menu-load-transfer" href="javascript:void(0)">SMS Load Transfer</a></li>
                        <li><a class="menu-sms-community" href="community.html">SMS Community</a></li>
                    </ul>
                </div>
                <a href="#menu-toggler" class="btn btn-toggler" id="menu-toggler">||</a> -->
                <div class="btn-save-campaign-draft">
                    <button class="btn btn-default" data-draft="{%if campaign_draft.is_draft%}{{campaign_draft.is_draft}}{%else%}0{%endif%}" disabled="disabled"><i class="fa fa-file-text-o" aria-hidden="true"></i> SAVE AS DRAFT</button>
                </div>
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div id="broadcast-result" class="col-md-8 col-md-offset-2" style="display: none;margin-left: 11.666667%">
                             <div class="successfull-broadcast-wrapper">
                                <div class="content-top" style="width:100%;">
                                    <h4>YOUR REQUEST HAS BEEN FILED</h4>
                                    <div class="request-process">
                                        <hr>
                                        <div class="col-md-4 no-padding text-left">
                                            <div class="request-circle"><div class="request-icon"><i class="ion ion-ios-checkmark-empty"></i></div></div>
                                            <h5>Set Up Campaign</h5>
                                        </div>
                                        <div class="col-md-4 no-padding text-center">
                                            <div class="request-circle" style="margin: auto;"><div class="request-icon"><i class="ion ion-ios-checkmark-empty"></i></div></div>
                                            <h5>Confirm Details</h5>
                                        </div>
                                        <div class="col-md-4 no-padding text-right">
                                            <div class="request-circle" style="margin: auto 0 auto auto;"><div class="process-icon"><i class="ion ion-ios-checkmark-empty"></i></div></div>
                                            <h5 style="margin-right: -10px;">Processing Request</h5>
                                        </div>
                                    </div>
                                    <p>We have sent the details of the campaign <span id="result-campaign-name"></span> to your email.</p>
                                    <div class="reference-wrapper">
                                        <form>
                                            <div class="form-group" style="width: 50%;margin-left: 15%;">
                                                <label for="reference_number" style="text-align: center;">Reference Number: </label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="reference_number" placeholder="XYZSHRY">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default copyclip" data-clipboard-target="#reference_number" type="button">Copy</button>
                                                    </span>
                                                </div><!-- /input-group -->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="btns free-trial-btn" style="margin-left: 8%;">
                                    <a href="/dashboard" class="btn btn-default btn-go-live fancybox">GO TO DASHBOARD</a>
                                </div>
                            </div><!-- content -->
                        </div>
                        <div ng-controller="Ctrl"  id="broadcast-controller">
                            <form id="broadcast-container" class="broadcast-container" style="display:none;" wizard step-changing="stepChanging" body-tag="section">
                                <h1><strong>Set your contacts</strong></h1>
                                <section class="step1">
                                    <div class="col-md-6 col-md-offset-3">
                                        {% if not contact_groups %}
                                        <div class="col-md-12">
                                            <h4 style="text-align:center;" class="contact-header">Your Contacts</h4>
                                            <div class="col-md-12 contacts-container">
                                                <div class="col-md-12 contact-lists" style="margin-bottom: 40px;margin-top: 9%;text-align:center;">
                                                    <p style="font-weight: 700;text-align: center;/*margin-left: 2em;*/">No contact list available</p>
                                                    <button type="button" class="btn btn-primary btn-go-contacts" onclick="window.location = '/contacts'">Create a Contact List</button>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="col-md-12">
                                            <h4 style="text-align:center;" class="contact-header">Your Contacts</h4>
                                            <div class="input-group" style="/*margin-left: 18.666667%;*/margin-bottom:10px;">
                                              <input type="text" class="form-control search" id="inputString" placeholder="Search contact group..." style="height: 37px;">
                                              <span class="input-group-addon" style="background-color: #fff!important;color: #555!important;/*padding: 7px!important;*/"><span class="glyphicon glyphicon-search"></span></span>
                                            </div>
                                            <div class="col-md-12 contacts-container">
                                                <div class="col-md-12 contact-lists">
                                                {% for group in contact_groups%}
                                                    <div class="checkbox" style="{%if group.name|length > 30%}margin-bottom:20px;{%endif%}">
                                                        <div style="float:left;width:60%;">
                                                            <input type="checkbox" name="contact_group" value="{{group.id}}" id="dummycontact-{{group.id}}" class="css-checkbox" /><label for="dummycontact-{{group.id}}" class="css-label contact-item radGroup{{group.id}}"> {{group.name}}
                                                            </label>
                                                        </div>
                                                        <div style="float:right;width:40%;">
                                                            <p>(base: <span class="total-base-number">{{group.base_count}}</span>)</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                                <div class="col-md-12 all-contacts">
                                                    <div class="col-md-12 total-contacts">
                                                        <a href="/contacts" target="_blank"><span class="glyphicon glyphicon-plus"></span> Add new contacts</a>
                                                    </div>
                                                    <div class="checkbox select-all-checkbox">
                                                        <div style="float:left;width:100%;">
                                                            <input type="checkbox" id="all-contact-lists" name="all-contact-lists" class="css-checkbox" /><label for="all-contact-lists" class="css-label radGroup1"> Select all contact  groups
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-12 total-contacts">
                                                        <p>Total base contacts: <strong><span class="total-all-contacts">0</span></strong></p>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <!-- <div style="width: 100%;float: left;">
                                                <a href="/contacts" class="btn btn-default btn-go-contacts">GO TO CONTACTS</a>
                                            </div> -->
                                        </div>
                                        {% endif %}
                                    </div>
                                </section>
                                <h1><strong>Write your message</strong></h1>
                                <section class="step2">
                                    <div class="col-md-9 col-md-offset-2">
                                        <div class="col-md-6 content-left">
                                            <div class="row sender-id-wrapper">
                                                <h4>Campaign Name</h4>
                                                <div class="form-group" style="width: 100%;float: left;">
                                                    <input type="hidden" id="campaign_id" name="campaign_id" value="{{campaign_draft.campaign_id}}" />
                                                    <input type="text" class="form-control" id="campaign_name" maxlength="50" name="campaign_name" value="{{campaign_draft.campaign_name}}">
                                                    <div id="campaign-name-error" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="row sender-id-wrapper">
                                                <h4>Sender ID</h4>
                                                <div class="form-group" style="width: 100%;float: left;">
                                                    <select id="select-sender-id" name="select_sender_id" class="form-control" style="width: 100%;">
                                                            <option value="">--Select Sender ID--</option>
                                                         {% for approved in pre_approved %}
                                                            <option {%if campaign_draft.sender_id == approved.id%}selected{%endif%} value="{{approved.id}}">{{approved.name}}</option>
                                                        {% endfor %}
                                                        {% for sender_id in sender_ids %}
                                                            <option {%if campaign_draft.sender_id == sender_id.id%}selected{%endif%} value="{{sender_id.id}}">{{sender_id.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="sender_id_error" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <div class="row sender-id-wrapper">
                                                <h4>Message</h4>
                                                <div class="form-group" style="width: 100%;float: left;">
                                                    <select class="form-control" name="message_template" id="message_template" style="width: 100%">
                                                        <option>--Select Template--</option>
                                                        <option data-message="" data-initial="{{campaign_draft.message}}" value="blank">Create a message</option>
                                                        {% for message_template in message_templates %}
                                                            <option data-message="{{message_template.message}}" value="{{message_template.id}}">{{message_template.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <span class='helper-block' style="font-family: 'Gotham';font-weight: 700;float: left;margin-top: 5px;font-size: 13px;text-decoration: underline;"><a href="/message-template" target="_blank"><span class="glyphicon glyphicon-plus"></span> Create new Message Template</a></span>
                                                </div>
                                            </div>
                                            <div class="row message-wrapper">
                                                <div class="form-group" style="width: 100%;float: left;">
                                                    <div class="textarea-wrapper" style="width:100%;">
                                                        <textarea class="form-control textarea" maxlength="459" accept-charset="utf-8"  rows="5" name="broadcast_message" id="broadcast_message"></textarea>
                                                    </div>
                                                    <span class="helper-block message-character-count" style="float: right;"><small><span id="characterLeft">459</span>/<span id="charCounter">0</span></small></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 content-right">
                                            <div class="message-container">
                                                <div class="broadcast-live">
                                                    <p class="message-sender-id">BROADCAST</p>
                                                    <div class="sms-text">
                                                        <p>
                                                            <span></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h1><strong>Schedule your broadcast</strong></h1>
                                <section class="step3">
                                    <div class="col-md-9 col-md-offset-2 step3-container">
                                        <div class="col-md-12 schedule-wrapper">
                                            <h4 style="margin:0% 0% 5%;">Schedule</h4>
                                            <div class="col-md-12 form-schedule">
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label for="datepicker" class="col-md-4 control-label">Date<img src="/static/images/calendar-icon.png" class="img-responsive"></label>
                                                        <div class="col-md-7 nopaddingLR">
                                                          <input type="text" readonly="readonly" class="form-control input-lg" id="datepicker" name="schedule_date" placeholder="MM/DD/YY" style="text-align: center;background: #fff;"  />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="timepicker" class="col-md-4 control-label">Time<img src="/static/images/time-icon.png" class="img-responsive"></label>
                                                        <div class="col-md-7 nopaddingLR">
                                                          <input type="text" class="form-control input-lg timepicker" placeholder="00:00 AM/PM" id="timepicker" name="schedule_time" style="text-align: center;"  />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div style="width: 100%;float:left;text-align: center;margin: 20px 0;">
                                                <span class="remove-schedule">Clear All</span>
                                            </div>
                                            <div style="float: left;width: 100%;/*margin-top: 20px;*/">
                                                <div class="col-md-10 divider">
                                                    <span>or</span>
                                                </div>
                                            </div>
                                            <div class="row send-now-wrapper">
                                                <div class="checkbox">
                                                    <div style="float:left;width:100%;background: #67afb8;border-radius:3px;padding: 0 0 5px;">
                                                        <input type="checkbox" name="check-send-now" value="" id="check-send-now" class="css-checkbox" /><label style="color: #fff;" for="check-send-now" class="css-label sched-now radGroup1"> Send this immediately after setting up campaign
                                                        </label>
                                                    </div>
                                                </div>
                                                <br>
                                                <span class="helper-block" style="color: #333;font-size: 12px;font-weight: 700;">This feature is only available from 8:00am to 6:00pm</span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </form>
                            <!-- modal broadcast summary -->
                            <div class="modal fade modal-summary" id="broadcast-summary" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" style="padding:0px;">
                                            <form method="post" action="" enctype="multipart/form-data" method="post">
                                                <input type="hidden" name="form_contact_group" />
                                                <input type="hidden" name="form_sender_id" id="form_sender_id" value="" />
                                                <textarea style="display:none;" name="form_broadcast_message" id="form_broadcast_message" ng-bind="model.broadcast_message"></textarea>
                                                <input type="hidden" name="form_schedule" id="form_schedule" value="{{campaign_draft.campaign_schedule}}" />
                                                <h1><i class="fa fa-thumbs-up" aria-hidden="true"></i> SUMMARY</h1>
                                                <div class="summary-wrapper">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Campaign Name</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p class="campaign-body" style="font-weight:700;"></p>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Audience</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p>
                                                                <span class="selected-audience" style="float:left;color: #333;font-weight: 700;">
                                                                </span><br><br>
                                                                <span style="font-weight:700;color: #333;display: none;" class="total_audience1"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Message</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p class="message-body" style="font-weight:700;"></p>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Sender ID</h3>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p>
                                                                <span class="sender-id" style="color: #333;"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Schedule</h3>
                                                        </div>
                                                        <div class="panel-body" style="font-weight: 700;">
                                                            <p class="form_schedule_date">
                                                            </p>
                                                            <p class="form_schedule_time">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="alert alert-info" role="alert" style="margin: 0px;background: none;border: 0px;color: #595959;box-shadow: none;margin-top: -10px;"><p style="text-align: center;font-size: 13px;font-weight: 700;">By clicking CONFIRM, you will no longer be allowed to edit your message and your campaign will start to be processed and sent.</p></div>
                                                    <div class="alert alert-danger error-broadcast" style="display: none;" role="alert"><p class="error-text" style="color: #8a1f11;font-weight: 700;text-align: center;text-decoration: none;"></p></div>
                                                    <div class="btns">
                                                        <button class="btn btn-default btn-back" data-dismiss="modal">BACK</button>
                                                        <button class="btn btn-default btn-confirm btn-submit-broadcast" type="button" id="send_live_bcast">CONFIRM</button>
                                                        <span id="loading" style="float: left;width: 100%;margin-top: 10px;text-align: center;color: #003D61;font-weight: 700;display: none;">Submitting<br>
                                                        <img src="/static/images/ajax-loader.gif">
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                            <!-- modal broadcast summary end -->
                        </div><!-- content -->
                    </div><!-- container-fluid -->
                </div><!-- page-content-wrapper -->
            </div><!-- wrapper -->
        </div><!-- content body end -->

        <!-- modal contact group error -->
        <div class="modal fade modal-summary" id="contact-group-warning" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body summary-wrapper" style="padding:0px;">
                        <h3>SAVE BROADCAST ERROR</h3>
                        <img src="/static/images/ic-warning-upload.png" class="img-responsive">
                        <p style="padding:20px;" class="savedraft-error"></p>
                        <div class="btns">
                            <button class="btn btn-default btn-back" style="padding: 7px 60px;" data-dismiss="modal">BACK</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- modal contact group error end -->

        <!-- modal save success -->
        <div class="modal fade modal-summary" id="save-success" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body summary-wrapper">
                        <h3 style="color: #41799b;">SUCCESS!</h3>
                        <img src="/static/images/Success-check.png" class="img-responsive">
                        <p style="padding: 20px;">Your campaign has been saved as a draft in the My Campaigns folder.</p>
                    </div>
                    <div class="btns">
                        <button class="btn btn-default btn-confirm" data-dismiss="modal">OK</button> 
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- modal save success end -->
{% endblock %}

{%block custom_scripts%}
<script type="text/javascript" src="/static/js/broadcast-script.js"></script>
{% endblock %}
