<div style="background-color:#CCC; padding: 5px;">
	<div style="padding:10px; border-top: 5px solid #5F9EAF; margin-bottom: 5px; background-color:white;">
	    <img src="https://s3-ap-southeast-1.amazonaws.com/kastdev/kast-sm.png" title="KAST" alt="KAST" style="display:block" width="100" />
	</div>

	<div style="padding:10px; border-bottom: 5px solid #5F9EAF; background-color:white;">
		<p style="margin-bottom:20px;margin-top:20px;">We’re sorry to inform you that your requested Sender ID has been rejected: <strong>{{sender_id}}</strong> </p>
		<p style="margin-bottom:20px;">There are indications in the requested sender ID that are not permissible to be used based on Telco regulations. You may view these restrictions in our <a href="https://kast.ph/faqs" target="_blank">FAQs</a>.</p>
<p style="margin-bottom:20px;">Feel free to request another one when you log in on KAST!</p>
<p style="margin-bottom:20px;">Should you have any questions, feel free to read our <a href="https://kast.ph/faqs" target="_blank">FAQs</a> or message our Customer Support team at <a href="mailto:customercare@kast.ph" target="_blank">customercare@kast.ph</a>.
</p>
<p>Thank You!</p>
		<p>KAST Support Team</p>

	</div>
</div>

