<div style="background-color:#CCC; padding: 5px;">
	<div style="padding:10px; border-top: 5px solid #5F9EAF; margin-bottom: 5px; background-color:white;">
	    <img src="https://s3-ap-southeast-1.amazonaws.com/kastdev/kast-sm.png" title="KAST" alt="KAST" style="display:block" width="100" />
	</div>

	<div style="padding:10px; border-bottom: 5px solid #5F9EAF; background-color:white;">
		<p style="margin-bottom:20px;margin-top:20px;">This is to confirm that your request for a new Sender ID: <strong>{{sender_id}}</strong>, has been successfully filed. </p>
		<p style="margin-bottom:20px;">As of the moment you will see this under ‘Pending’ status but you will be notified via email as soon as this has been screened and fully processed by our KAST Admin.</p>
<p style="margin-bottom:20px;">Should you have any questions, feel free to read our <a href="https://kast.ph/faqs" target="_blank">FAQs</a> or message our Customer Support team at <a href="mailto:customercare@kast.ph" target="_blank">customercare@kast.ph</a>.
</p>
<p>Thank You!</p>
		<p>KAST Support Team</p>

	</div>
</div>

