<div style="background-color:#CCC; padding: 5px;">
	<div style="padding:10px; border-top: 5px solid #5F9EAF; margin-bottom: 5px; background-color:white;">
	    <img src="https://s3-ap-southeast-1.amazonaws.com/kastdev/kast-sm.png" title="KAST" alt="KAST" style="display:block" width="100" />
	</div>

	<div style="padding:10px; border-bottom: 5px solid #5F9EAF; background-color:white;">
		<p style="margin-bottom:20px;margin-top:20px;">Great news! Your requested Sender ID has been approved: <strong>{{sender_id}}</strong> </p>
		<p style="margin-bottom:20px;">You may view you new sender ID under the ‘Approved’ status and start using it for your branded SMS broadcasts.</p>
<p style="margin-bottom:20px;">Should you have any questions, feel free to read our <a href="https://kast.ph/faqs" target="_blank">FAQs</a> or message our Customer Support team at <a href="mailto:customercare@kast.ph" target="_blank">customercare@kast.ph</a>.
</p>
<p>Thank You!</p>
		<p>KAST Support Team</p>

	</div>
</div>

