<div style="background-color:#CCC; padding: 5px;">
	<div style="padding:10px; border-top: 5px solid #5F9EAF; margin-bottom: 5px; background-color:white;">
	    <img src="https://s3-ap-southeast-1.amazonaws.com/kastdev/kast-sm.png" title="KAST" alt="KAST" style="display:block" width="100" />
	</div>

	<div style="padding:10px; border-bottom: 5px solid #5F9EAF; background-color:white;">
		<p style="margin-bottom:20px;margin-top:20px;">A new Sender ID has been requested for screening:
</p>

<p style="margin-bottom:20px;">Sender ID Requested: {{sender_id}}</p>
<p style="margin-bottom:20px;">User Name: {{requested_by}}</p>
<p style="margin-bottom:20px;">Company: {{company}}</p>
<p style="margin-bottom:20px;">Date and Time Requested: {{ date_created }} </p>
<p style="margin-bottom:30px;"><a href="{{approve_uri}}">Approve</a>&nbsp;&nbsp;&nbsp;<a href="{{reject_uri}}">Reject</a>
	</div>
</div>

