{% extends 'kast_base_templates/trial_account_template.html' %}

    {% block content %}
        <!-- content body start -->
        <div class="container-fluid main-wrapper" role="main">
            <div class="wrapper">
                <!-- <div class="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <li><a class="menu-my-campaigns" href="my-campaigns.html">My Campaigns</a></li>
                        <li><a class="menu-sms-bcast" href="sms-broadcast-live.html">SMS Broadcast</a></li>
                        <li><a class="menu-video-bcast" href="video-broadcast.html">Video Broadcast</a></li>
                        <li><a class="menu-sms-feedback" href="feedback-dashboard.html">SMS Feedback</a></li>
                        <li><a class="menu-sms-promo" href="promos.html">SMS Promo</a></li>
                        <li><a class="menu-load-transfer" href="javascript:void(0)">SMS Load Transfer</a></li>
                        <li><a class="menu-sms-community" href="community.html">SMS Community</a></li>
                    </ul>
                </div>
                <a href="#menu-toggler" class="btn btn-toggler" id="menu-toggler">||</a> -->
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="successfull-broadcast-wrapper outside-schedule col-md-8 col-md-offset-1">
                            <div class="content-top">
                                <h4>OUTSIDE SCHEDULE</h4>
                                <img src="/static/images/clock-slide.png" class="img-responsive">
                                <p>Oops! We regret to inform you that your broadcast time does not comply with the policies and regulations of the National Telecommunications Commission. You may only broadcast between 8 a.m. up to 6 p.m.</p>
                            </div>
                        </div><!-- content -->
                    </div><!-- container-fluid -->
                </div><!-- page-content-wrapper -->
            </div><!-- wrapper -->
        </div><!-- content body end -->
{% endblock %}