<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <ul class="nav" id="side-menu">
            <li class="{% if request.get_full_path == '/dashboard/' or request.get_full_path = '' %}active{%endif%}">
                <a href="/dashboard"><span class="nav-label">Dashboard</span></a>
            </li>
            <li class="{% if request.get_full_path == '/broadcasts/' or request.get_full_path == '/broadcasts/lists/' %}active{%endif%}">
                <a href="/broadcasts/"><span class="nav-label">Broadcast</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level {% if request.get_full_path == '/users/overview/' or request.get_full_path == '/broadcasts/lists/' %}collapse in{%endif%}">
                    <li class="{% if request.get_full_path = '/broadcasts/overview/' %}active{%endif%}"><a href="/broadcasts/overview/">Overview</a></li>
                    <li class="{% if request.get_full_path = '/broadcasts/live/' %}active{%endif%}"><a href="/broadcasts/live/">Create A Broadcast</a></li>
                    <li class="{% if request.get_full_path = '/broadcasts/lists/' %}active{%endif%}"><a href="/broadcasts/lists/">View All Broadcasts</a></li>
                    <li class="{% if request.get_full_path = '/broadcasts/message-templates/' %}active{%endif%}"><a href="/broadcasts/message-templates/">Message Templates</a></li>
                </ul>
            </li>
            <li class="{% if request.get_full_path == '/users/' or request.get_full_path = '/users/form/' %}active{%endif%}">
                <a href="/users/"><span class="nav-label">Users</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level {% if request.get_full_path == '/users/form/' or request.get_full_path = '/users/' %}collapse in{%endif%}">
                    <li class="{% if request.get_full_path = '/users/form/' %}active{%endif%}"><a href="/users/form/">Add New User</a></li>
                    <li class="{% if request.get_full_path = '/users/' %}active{%endif%}"><a href="/users/">View All Users</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>