<div style="background-color:#CCC; padding: 5px;">
	<div style="padding:10px; border-top: 5px solid #5F9EAF; margin-bottom: 5px; background-color:white;">
	    <img src="https://s3-ap-southeast-1.amazonaws.com/kastdev/kast-sm.png" title="KAST" alt="KAST" style="display:block" width="100" />
	</div>

	<div style="padding:10px; border-bottom: 5px solid #5F9EAF; background-color:white;">
		<h4 style="font-size:18px; color:#50759A">Your KAST Job Request <span style="color:#337ab7">{{ ref_id }}</span> is successfully created.</h4>

		<p><strong>Broadcast Summary</strong></p>

		<table border="1" cellspacing="0" cellpadding="0">
		    <tr><td>Broadcast Type</td><td>{{ campaign_type }}</td></tr>
		    <tr><td>Date Broadcast</td><td>{{ schedule }}</td></tr>
		    <tr><td>From</td><td>{{ sender_id }}</td></tr>
		    <tr><td>Base Count</td><td>{{ base_count }}</td></tr>
		    <tr><td>Message</td><td>{{ message }}</td></tr>
		</table>

		<p>This message confirms successful broadcast creation.</p>

		<hr />

		<p>Should you have any questions, feel free to read our <a href="https://kast.ph/faqs" target="_blank">FAQs</a> or message our Customer Support team at <a href="mailto:customercare@kast.ph" target="_blank">customercare@kast.ph</a></p>

		<p>Thank You!</p>
		<p>KAST Support Team</p>
	</div>
</div>
