<div style="background-color:#CCC; padding: 5px;">
	<div style="padding:10px; border-top: 5px solid #5F9EAF; margin-bottom: 5px; background-color:white;">
	    <img src="https://s3-ap-southeast-1.amazonaws.com/kastdev/kast-sm.png" title="KAST" alt="KAST" style="display:block" width="100" />
	</div>

	<div style="padding:10px; border-bottom: 5px solid #5F9EAF; background-color:white;">
		<h4 style="font-size:18px; color:#50759A">Congratulations for successfully using the KAST Free Trial Broadcast feature.</h4>

		<p><strong>Broadcast Summary</strong></p>

		<table border="1" cellpadding="0" cellspacing="0">
		    <tr><td>Broadcast Type</td><td>SMS Broadcast</td></tr>
		    <tr><td>Date Broadcast</td><td>{{ created_at }}</td></tr>
		    <tr><td>Time Successfully Started Broadcast:</td><td>{{ created_at }}</td></tr>
		    <tr><td>From</td><td>{{ sender_id }}</td></tr>
		    <tr><td>Base Count</td><td>{{ phonenumbers }}</td></tr>
		    <tr><td>Message</td><td>{{ message }}</td></tr>
		</table>

		<p>Experience the full features of KAST SMS Broadcast when you go <a href="http://kast.ph/register" target="_blank">live!</a></p>

		<ul>
		    <li>Branded Sender ID</li>
		    <li>More than 5 message recipients</li>
		    <li>Scheduled broadcasts </li>
		    <li>Message templates</li>
		</ul>

		<hr />

		<p>Should you have any questions, feel free to read our <a href="https://kast.ph/faqs" target="_blank">FAQs</a> or message our Customer Support team at <a href="mailto:customercare@kast.ph" target="_blank">customercare@kast.ph</a></p>

		<p>Thank You!</p>
		<p>KAST Support Team</p>
	</div>
</div>
